n8n/Asistaa
{"createdAt":"2025-11-07T05:17:38.527Z","updatedAt":"2025-11-07T15:09:36.000Z","id":"CiewpRDVqcVrDafZ","name":"Asistaa","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.workflow_id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[448,16],"id":"f2cf223a-f5bc-45fc-8cea-b94426b9dfe4","name":"n8n","credentials":{"n8nApi":{"id":"60V93W5aiyMDYngo","name":"n8n account 2"}}},{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[-160,160],"id":"3ce49d30-dbf7-45a1-a7df-c4172b69818f","name":"n8n Trigger","disabled":true},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"FranprzDev","mode":"list","cachedResultName":"FranprzDev","cachedResultUrl":"https://github.com/FranprzDev"},"repository":{"__rl":true,"value":"n8n-workflows-course","mode":"list","cachedResultName":"n8n-workflows-course","cachedResultUrl":"https://github.com/FranprzDev/n8n-workflows-course"},"filePath":"=n8n/{{ ($json.name).split(' ').join('_') }}","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"Update."},"type":"n8n-nodes-base.github","typeVersion":1,"position":[688,16],"id":"fe48d286-efad-4664-a1d7-e5687fc0a0e9","name":"GitHub","webhookId":"6dd62fc1-8eec-420e-99a9-c831c208afb7","credentials":{"githubApi":{"id":"GIPbubj5HIPo8s3Q","name":"GitHub account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[480,240],"id":"08d9d858-345f-4150-88dd-5470f4c8bf59","name":"When chat message received","webhookId":"eb805f77-4e28-4b5c-aaa1-816b8646eaa1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[208,16],"id":"32c2239f-7d68-4a72-9b4a-2d524fd40002","name":"When clicking ‘Execute workflow’"}],"connections":{"n8n Trigger":{"main":[[]]},"n8n":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4083b732-bf27-4a7b-ab49-b8b98a225da0","triggerCount":1,"shared":[{"createdAt":"2025-11-07T05:17:38.573Z","updatedAt":"2025-11-07T05:17:38.573Z","role":"workflow:owner","workflowId":"CiewpRDVqcVrDafZ","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-07T13:27:32.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1762521865899}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-07","isPending":false}}]}}],"tags":[]}