n8n/N8N_API
{"createdAt":"2025-11-07T05:17:38.527Z","updatedAt":"2025-11-07T05:44:37.000Z","id":"CiewpRDVqcVrDafZ","name":"N8N API","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.workflow_id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[240,16],"id":"f2cf223a-f5bc-45fc-8cea-b94426b9dfe4","name":"n8n","credentials":{"n8nApi":{"id":"60V93W5aiyMDYngo","name":"n8n account 2"}}},{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[-32,16],"id":"3ce49d30-dbf7-45a1-a7df-c4172b69818f","name":"n8n Trigger"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"FranprzDev","mode":"list","cachedResultName":"FranprzDev","cachedResultUrl":"https://github.com/FranprzDev"},"repository":{"__rl":true,"value":"n8n-workflows-course","mode":"list","cachedResultName":"n8n-workflows-course","cachedResultUrl":"https://github.com/FranprzDev/n8n-workflows-course"},"filePath":"=n8n/{{ ($json.name).split(' ').join('_') }}","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"Update."},"type":"n8n-nodes-base.github","typeVersion":1,"position":[512,16],"id":"fe48d286-efad-4664-a1d7-e5687fc0a0e9","name":"GitHub","webhookId":"6dd62fc1-8eec-420e-99a9-c831c208afb7","credentials":{"githubApi":{"id":"GIPbubj5HIPo8s3Q","name":"GitHub account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-16,400],"id":"0321e9f4-b759-4da0-b8d1-fe800fe9e9a6","name":"When chat message received","webhookId":"1820b2da-b1e7-4f41-b73a-94bef17e3bb6"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[176,400],"id":"a7b2e468-9238-434c-af3d-04601da9ead7","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[176,560],"id":"46616191-0b20-49cc-b863-e77e2c8dd00a","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"n8n Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2f6485ae-5bf9-4915-8722-520ae34f806c","triggerCount":0,"shared":[{"createdAt":"2025-11-07T05:17:38.573Z","updatedAt":"2025-11-07T05:17:38.573Z","role":"workflow:owner","workflowId":"CiewpRDVqcVrDafZ","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-07T05:13:10.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1761916382714}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-07","isPending":false}}]}}],"tags":[]}