n8n/Qdrant_Simple_-_(Sesion_8,_Corregido)
{"createdAt":"2025-10-24T13:43:29.019Z","updatedAt":"2025-10-31T14:27:00.000Z","id":"A1lQEUVi9aKmPAVV","name":"Qdrant Simple - (Sesion 8, Corregido)","active":false,"isArchived":false,"nodes":[{"parameters":{"dataType":"binary","binaryMode":"specificField","options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $json.id }}"},{"name":"pubkey","value":"={{ $json.name }}"}]}}},"id":"447502f2-b258-4ac6-a3d9-66520f3ba045","name":"Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[1680,2160],"typeVersion":1},{"parameters":{"chunkOverlap":100},"id":"0467fb1c-0b48-404a-a1dc-2cfa8b8cbbbf","name":"Token Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","position":[1680,2304],"typeVersion":1},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"=testing_2_drive","mode":"id"},"options":{}},"id":"63e9c238-a800-4e0e-9415-beb092c6417b","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[1616,1968],"executeOnce":false,"retryOnFail":true,"typeVersion":1,"credentials":{"qdrantApi":{"id":"I7gJVJCOcOjpkfrQ","name":"QdrantApi account"}},"onError":"continueRegularOutput"},{"parameters":{"options":{}},"id":"a624b764-178e-4a03-b39d-acfb6706538d","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1248,1296],"typeVersion":3,"executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{},"id":"7efc2f24-fe80-434e-a60e-c1a9d381c03a","name":"Wait","type":"n8n-nodes-base.wait","position":[2080,2288],"webhookId":"237d7f8a-aead-479a-b813-f407d1f37fa5","typeVersion":1.1},{"parameters":{},"id":"b5d39ccb-8d86-4d03-8de8-10b48820c743","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[784,1296],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{}},"id":"54bb7d40-f054-4163-907a-c6f0b7911172","name":"Download File From Google Drive","type":"n8n-nodes-base.googleDrive","position":[1568,1280],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"M9NFe7JaZql58gq7","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"driveId":{"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"=1ttGchCPAWh1wRR40WJHJDdWIrun_mQX5","mode":"id"}},"options":{}},"id":"6d0ffcaa-a7b3-44de-b375-7d5189e296df","name":"Find File Ids in Google Drive Folder","type":"n8n-nodes-base.googleDrive","position":[1024,1296],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"M9NFe7JaZql58gq7","name":"Google Drive account"}}},{"parameters":{"content":"## Perform Qdrant Vector Store Operations","height":640,"width":920,"color":7},"id":"e6895f42-9c08-4600-986e-861aba4a364f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1376,1856],"typeVersion":1},{"parameters":{"content":"## Google Drive","height":320,"width":300,"color":2},"id":"a39298cd-8477-4db9-b1b6-6557fc005314","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1456,1168],"typeVersion":1},{"parameters":{"content":"## ✨ Save Documents to Qdrant Vector Store","height":1480,"width":1360,"color":5},"id":"f9130035-94af-40ff-a878-1d5be2efcd8f","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1152,1088],"typeVersion":1},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=Eres un asistente que se encarga de obtener documentos desde una tool externa que es una base de datos vectorial; y debes SIEMPRE utilizar dicha tool.\nDebes responder al usuario de forma breve y concisa; con la mayor formalidad posible.\n\nUtiliza la herramienta retriever y siempre devuelve los parámetros que sean necesarios para que funcione."}},"id":"bc63ed4a-9434-40eb-ab90-d71ecc77d5d0","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[464,240],"typeVersion":1.7},{"parameters":{"options":{}},"id":"484a795f-4448-4e7f-9e9e-f0d546729018","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-48,240],"webhookId":"5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd","typeVersion":1.1},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{"maxOutputTokens":8192}},"id":"5965671f-7480-4e9b-959d-c306d274e9cd","name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[336,448],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## 🗣️ Chat with Your Documents","height":320,"width":340,"color":4},"id":"44e976a0-e189-4155-b773-85798909d449","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[-224,144],"typeVersion":1},{"parameters":{"content":"# Step 2 - Chat with Your Documents from Qdrant Vector Store","height":720,"width":1780,"color":7},"id":"eab88e76-b404-4a67-b4ae-fae9d70caed5","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[-304,16],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"cd8f88e1-19c0-4b9e-914d-e2e7ba21d9fa","name":"output","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"92e8876d-c1e8-4a1a-ae03-48990ca17326","name":"Respond to User","type":"n8n-nodes-base.set","position":[1184,480],"typeVersion":3.4},{"parameters":{"content":"## Save Chat History","height":300,"width":340,"color":4},"id":"a26e4727-750c-41be-90fd-921279417631","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[1056,144],"typeVersion":1},{"parameters":{"operation":"update","documentURL":"1mk8ZwZL94QphRfiwJL-QPjY8-Lpihf_ykjxaPB5uA1A","actionsUi":{"actionFields":[{"action":"insert","text":"=\n-------------------------------\n\n{{ $now }}\n\n{{ $('When chat message received').item.json.chatInput  }}\n\n{{ $json.output }}"}]}},"id":"f5067af3-7969-4a0c-8490-15df5f8d59b5","name":"Update Chat History","type":"n8n-nodes-base.googleDocs","position":[1184,240],"typeVersion":2,"credentials":{"googleDocsOAuth2Api":{"id":"9eBYvw89xWqM3IoU","name":"Google Docs account"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"retriever","toolDescription":"Retrieve data from a semantic database to answer questions","qdrantCollection":{"__rl":true,"value":"LeyContratoTrabajo","mode":"list","cachedResultName":"LeyContratoTrabajo"},"topK":20,"options":{}},"id":"644f7698-a618-486e-8f69-15f9e1825ec1","name":"Qdrant Vector Store Tool","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[608,448],"typeVersion":1,"credentials":{"qdrantApi":{"id":"I7gJVJCOcOjpkfrQ","name":"QdrantApi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1504,2160],"id":"2d381f76-119e-4cdd-a540-8d3a739e9630","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## 🤖Retrieve Content from Qdrant Vector Store","height":584,"width":732,"color":5},"id":"98de8969-aac0-4486-b90a-3023a4ea9b4b","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[160,144],"typeVersion":1},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[608,576],"id":"efd2a4b5-c1fb-4092-a360-e711ae3521c7","name":"Embeddings Google Gemini1","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Data Loader","type":"ai_textSplitter","index":0}]]},"Qdrant Vector Store":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Download File From Google Drive","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Find File Ids in Google Drive Folder","type":"main","index":0}]]},"Download File From Google Drive":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Find File Ids in Google Drive Folder":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Update Chat History","type":"main","index":0},{"node":"Respond to User","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Qdrant Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Qdrant Vector Store Tool","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"27cde166-2a3b-4737-9900-02d139a9a6be","triggerCount":0,"shared":[{"createdAt":"2025-10-24T13:43:29.030Z","updatedAt":"2025-10-24T13:43:29.030Z","role":"workflow:owner","workflowId":"A1lQEUVi9aKmPAVV","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-07T05:13:10.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1761916382714}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-07","isPending":false}}]}}],"tags":[]}