n8n/Sistema_de_Trazabilidad_de_Expedientes_con_Google_Sheets_v1.0.0
{"createdAt":"2025-09-30T15:25:23.048Z","updatedAt":"2025-11-07T15:52:39.000Z","id":"GsfwqqL1dhxJyNQY","name":"Sistema de Trazabilidad de Expedientes con Google Sheets_v1.0.0","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-96,-224],"id":"872415f7-56d4-4ad0-a563-44e5dc5b0bb9","name":"Manual"},{"parameters":{"assignments":{"assignments":[{"id":"528f8a98-ed6e-49ef-ad6c-771c9b248985","name":"numero_expediente","value":"={{ $json.body.numero_expediente }}","type":"string"},{"id":"e88c6818-ab5a-4ff2-884a-65f8497aaa3a","name":"fecha_ingreso","value":"={{ $json.body.fecha_ingreso }}","type":"string"},{"id":"9abe7fa0-c444-49d4-8a7d-61d4e4eadfd6","name":"tipo_expediente","value":"={{ $json.body.tipo_expediente }}","type":"string"},{"id":"0c85662a-8d2e-4b06-b95c-eb6967b08212","name":"actor","value":"={{ $json.body.actor }}","type":"string"},{"id":"010db7fb-5d37-446a-8277-b36ffd7cb3b0","name":"demandado","value":"={{ $json.body.demandado }}","type":"string"},{"id":"0cb0caef-5366-457b-9624-cbc0aa90b01b","name":"juzgado","value":"={{ $json.body.juzgado }}","type":"string"},{"id":"ea6fa380-2e52-4591-9951-6e3b242bc1a7","name":"monto_reclamado\t","value":"={{ $json.body.monto_reclamado }}","type":"string"},{"id":"19801981-5004-4a5d-993b-5e3e92a04bfe","name":"estado\t","value":"={{ $json.body.estado }}","type":"string"},{"id":"0344fe4d-689b-4e2c-9661-9c8d4eb2ecc9","name":"observaciones","value":"={{ $json.body.Observaciones }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,-64],"id":"41850800-84c8-4a21-a596-9ef858473922","name":"Cargar"},{"parameters":{"httpMethod":"POST","path":"6a16787f-5bbb-4bb7-9344-1e20b4f53ea1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-96,-16],"id":"1b08d2c1-a731-4e2f-ad78-d294bb4f26fb","name":"Webhook","webhookId":"6a16787f-5bbb-4bb7-9344-1e20b4f53ea1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1kEEuZNXR1Ir0w2BORa_EFMj8HyPwrvfVUFG5h0gXdNE","mode":"list","cachedResultName":"Expediente 2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kEEuZNXR1Ir0w2BORa_EFMj8HyPwrvfVUFG5h0gXdNE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kEEuZNXR1Ir0w2BORa_EFMj8HyPwrvfVUFG5h0gXdNE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"numero_expediente":"={{ $json.numero_expediente }}","fecha_ingreso":"={{ $json.fecha_ingreso }}","tipo_expediente":"={{ $json.tipo_expediente }}","actor":"={{ $json.actor }}","demandado":"={{ $json.demandado }}","juzgado":"={{ $json.juzgado }}","monto_reclamado":"={{ $json['monto_reclamado\t'] }}","estado":"={{ $json['estado\t'] }}","observaciones":"={{ $json.observaciones }}"},"matchingColumns":[],"schema":[{"id":"numero_expediente","displayName":"numero_expediente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha_ingreso","displayName":"fecha_ingreso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tipo_expediente","displayName":"tipo_expediente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"actor","displayName":"actor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"demandado","displayName":"demandado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"juzgado","displayName":"juzgado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_reclamado","displayName":"monto_reclamado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"observaciones","displayName":"observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[544,-64],"id":"f4e51377-90cd-4330-a308-97992523d257","name":"Agregar Fila en Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"a1I0CIu3KpmjrMyx","name":"Credencial - franciscoperezdeveloper@gmail.com"}}}],"connections":{"Manual":{"main":[[{"node":"Cargar","type":"main","index":0}]]},"Cargar":{"main":[[{"node":"Agregar Fila en Sheet","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Cargar","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bcb23feb-ceb4-4515-b49a-4264dd31445c","triggerCount":0,"shared":[{"createdAt":"2025-09-30T15:25:23.063Z","updatedAt":"2025-09-30T15:25:23.063Z","role":"workflow:owner","workflowId":"GsfwqqL1dhxJyNQY","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-07T13:27:32.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1762521865899}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-07","isPending":false}}]}}],"tags":[{"createdAt":"2025-09-30T15:25:48.229Z","updatedAt":"2025-09-30T15:25:48.229Z","id":"2ZRmFMMhCMwhLYwE","name":"Google Sheets"},{"createdAt":"2025-09-30T15:25:43.776Z","updatedAt":"2025-09-30T15:25:43.776Z","id":"8ddfu3URKHaKENuL","name":"Sesión 2"}]}