Sesion_3/Sesión_3
{"createdAt":"2025-10-03T13:12:28.677Z","updatedAt":"2025-11-13T00:44:21.000Z","id":"7nPvo6pcmX083DCk","name":"Sesión 3","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"f00f5f59-1fbf-426c-a93e-d9ad6a3679fc","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"18cwcopeH84kkMplXJLtiAEolxScPyVNKo9OR5SOXNmg","mode":"list","cachedResultName":"Audiencias Pendientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18cwcopeH84kkMplXJLtiAEolxScPyVNKo9OR5SOXNmg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18cwcopeH84kkMplXJLtiAEolxScPyVNKo9OR5SOXNmg/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,0],"id":"094d7874-c307-4610-ba1d-43198c8e5c27","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"a1I0CIu3KpmjrMyx","name":"Credencial - franciscoperezdeveloper@gmail.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1d51e043-6827-41fb-b082-74376da7dfcf","leftValue":"={{ $json.fechaRecordatorio }}","rightValue":"={{ $now }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[688,0],"id":"96f86a4b-b279-4a18-8577-1281f90dba13","name":"Filter"},{"parameters":{"sendTo":"={{ $('Get row(s) in sheet').item.json['Email Letrado'] }}","subject":"=Audencia con la {{ $('Get row(s) in sheet').item.json.Juez }}","message":"=Hola buenos días {{ $('Get row(s) in sheet').item.json['Letrado Responsable'] }}.\nLe corresponde al número de expediente {{ $('Get row(s) in sheet').item.json['Número Expediente'] }},\npara la fecha {{ $('Get row(s) in sheet').item.json['Fecha Audencia'] }} en el tipo de audiencia {{ $('Get row(s) in sheet').item.json['Tipo Audiencia'] }} a las horas {{ $('Get row(s) in sheet').item.json.Hora }} del presente día.\n\nQueda avisado, saludos.\nAtt. El Poder Judicial de Tucumán","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[992,0],"id":"c591fcf6-1304-4770-a12a-9519f2860842","name":"Send a message","webhookId":"0791887a-5e8b-44fe-b646-b350710fabe3","credentials":{"gmailOAuth2":{"id":"5ocZ0hnv60JXCzBM","name":"Gmail account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b7d105c5-b0ae-43b5-80ea-510517b797f9","name":"fechaRecordatorio","value":"={{ DateTime.fromISO($json[\"Fecha Audencia\"]).minus({ days: 3 }).toISODate() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,0],"id":"c2ad0535-b734-47ed-8bb2-f714a16db81e","name":"Edit Fields"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"18cwcopeH84kkMplXJLtiAEolxScPyVNKo9OR5SOXNmg","mode":"list","cachedResultName":"Audiencias Pendientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18cwcopeH84kkMplXJLtiAEolxScPyVNKo9OR5SOXNmg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18cwcopeH84kkMplXJLtiAEolxScPyVNKo9OR5SOXNmg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Número Expediente":"={{ $('Get row(s) in sheet').item.json['Número Expediente'] }}","Avisado":"Si"},"matchingColumns":["Número Expediente"],"schema":[{"id":"Número Expediente","displayName":"Número Expediente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Letrado","displayName":"Email Letrado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Letrado Responsable","displayName":"Letrado Responsable","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha Audencia","displayName":"Fecha Audencia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tipo Audiencia","displayName":"Tipo Audiencia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Juez","displayName":"Juez","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Avisado","displayName":"Avisado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1232,0],"id":"d98690bb-755e-4089-a997-35ff47194a1e","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"a1I0CIu3KpmjrMyx","name":"Credencial - franciscoperezdeveloper@gmail.com"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a5a96a3a-315a-41e9-929c-93111f7329c8","triggerCount":0,"shared":[{"createdAt":"2025-10-03T13:12:28.685Z","updatedAt":"2025-10-03T13:12:28.685Z","role":"workflow:owner","workflowId":"7nPvo6pcmX083DCk","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-12T23:38:57.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1762521865899}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-12","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-13T00:44:15.868Z","updatedAt":"2025-11-13T00:44:15.868Z","id":"IyArUcMmOz5n1KzI","name":"Sesion_3"}]}