Sesion_3/Sesión_3_-_Automatización_de_Avisos_de_Audiencias
{"createdAt":"2025-10-03T15:26:38.812Z","updatedAt":"2025-11-13T00:44:23.000Z","id":"0DPT6w6dwcOVjH3v","name":"Sesión 3 - Automatización de Avisos de Audiencias","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-144,-400],"id":"652979b9-7f61-4d5f-9da4-1c23542d4fe4","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"8b359a30-13fa-41f9-9c8b-b68cf5c82a73","name":"fechaRecordatorio","value":"={{ DateTime.fromISO($json['Fecha Audencia']).minus({days: 2}).toISODate() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,-400],"id":"9b9c906e-3abb-4ddf-af12-b43e54e3edb6","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f50433ff-d5c3-45e3-be36-5cf5bf845162","leftValue":"={{ $json.fechaRecordatorio }}","rightValue":"= {{ $now }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[528,-400],"id":"59d98518-ebc2-4787-b7a8-fe263657286d","name":"Filter"},{"parameters":{"documentId":{"__rl":true,"value":"18cwcopeH84kkMplXJLtiAEolxScPyVNKo9OR5SOXNmg","mode":"list","cachedResultName":"Audiencias Pendientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18cwcopeH84kkMplXJLtiAEolxScPyVNKo9OR5SOXNmg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18cwcopeH84kkMplXJLtiAEolxScPyVNKo9OR5SOXNmg/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[80,-400],"id":"a4bead24-9324-415a-98b7-2499fcf92741","name":"Obtener todos los datos","credentials":{"googleSheetsOAuth2Api":{"id":"a1I0CIu3KpmjrMyx","name":"Credencial - franciscoperezdeveloper@gmail.com"}}},{"parameters":{"sendTo":"={{ $('Obtener todos los datos').item.json['Email Letrado'] }}","subject":"=Audiencias con {{ $('Obtener todos los datos').item.json.Juez }}","message":"=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Notificación de Audiencia</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;\">\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n        <tr>\n            <td style=\"padding: 20px 0;\">\n                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"600\" style=\"border-collapse: collapse; background-color: #ffffff; border: 1px solid #dddddd; box-shadow: 0 4px 8px rgba(0,0,0,0.1);\">\n                    <tr>\n                        <td align=\"center\" style=\"background-color: #0D2440; padding: 20px 30px; color: #ffffff;\">\n                            <h1 style=\"margin: 0; font-size: 24px;\">Poder Judicial de Tucumán</h1>\n                            <p style=\"margin: 5px 0 0; font-size: 16px;\">Notificación de Audiencia</p>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 30px 40px; color: #333333;\">\n                            <p style=\"margin: 0 0 20px; font-size: 16px;\">\n                                Hola, buenos días <strong>{{ $('Obtener todos los datos').item.json['Letrado Responsable'] }}</strong>.\n                            </p>\n                            <p style=\"margin: 0 0 25px; line-height: 1.6;\">\n                                Se le notifica la siguiente audiencia correspondiente a los datos que se detallan a continuación:\n                            </p>\n                            <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-top: 2px solid #C5A56C; padding-top: 15px;\">\n                                <tr>\n                                    <td style=\"padding: 10px 0; font-weight: bold; width: 180px;\">N° de Expediente:</td>\n                                    <td style=\"padding: 10px 0;\">{{ $('Obtener todos los datos').item.json['Número Expediente'] }}</td>\n                                </tr>\n                                <tr>\n                                    <td style=\"padding: 10px 0; font-weight: bold;\">Fecha de Audiencia:</td>\n                                    <td style=\"padding: 10px 0;\">{{ $('Obtener todos los datos').item.json['Fecha Audencia'] }}</td>\n                                </tr>\n                                 <tr>\n                                    <td style=\"padding: 10px 0; font-weight: bold;\">Hora:</td>\n                                    <td style=\"padding: 10px 0;\">{{ $('Obtener todos los datos').item.json.Hora }}</td>\n                                </tr>\n                                <tr>\n                                    <td style=\"padding: 10px 0; font-weight: bold;\">Tipo de Audiencia:</td>\n                                    <td style=\"padding: 10px 0;\">{{ $('Obtener todos los datos').item.json['Tipo Audiencia'] }}</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"background-color: #f9f9f9; padding: 20px 40px; text-align: left;\">\n                            <p style=\"margin: 0; font-size: 14px; color: #555555;\">Queda usted debidamente notificado.</p>\n                            <p style=\"margin: 10px 0 0; font-size: 14px; color: #555555;\">\n                                Atentamente,<br>\n                                <strong>El Poder Judicial de Tucumán</strong>\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[784,-400],"id":"415bd3d7-24bf-46f8-bc78-c9565fb05af6","name":"Enviar Mensjae","webhookId":"2415f20e-4bce-45ce-a8d7-e86957aa204b","credentials":{"gmailOAuth2":{"id":"5ocZ0hnv60JXCzBM","name":"Gmail account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"18cwcopeH84kkMplXJLtiAEolxScPyVNKo9OR5SOXNmg","mode":"list","cachedResultName":"Audiencias Pendientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18cwcopeH84kkMplXJLtiAEolxScPyVNKo9OR5SOXNmg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18cwcopeH84kkMplXJLtiAEolxScPyVNKo9OR5SOXNmg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Número Expediente":"={{ $('Obtener todos los datos').item.json['Número Expediente'] }}","Avisado":"Si"},"matchingColumns":["Número Expediente"],"schema":[{"id":"Número Expediente","displayName":"Número Expediente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Letrado","displayName":"Email Letrado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Letrado Responsable","displayName":"Letrado Responsable","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha Audencia","displayName":"Fecha Audencia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tipo Audiencia","displayName":"Tipo Audiencia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Juez","displayName":"Juez","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Avisado","displayName":"Avisado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1056,-400],"id":"1da30ead-99b0-4dab-bcaf-3802d74dbe85","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"a1I0CIu3KpmjrMyx","name":"Credencial - franciscoperezdeveloper@gmail.com"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Obtener todos los datos","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Obtener todos los datos":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Enviar Mensjae","type":"main","index":0}]]},"Enviar Mensjae":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"51c5efc1-a3bc-48f3-8be3-7b5923de055b","triggerCount":0,"shared":[{"createdAt":"2025-10-03T15:26:38.820Z","updatedAt":"2025-10-03T15:26:38.820Z","role":"workflow:owner","workflowId":"0DPT6w6dwcOVjH3v","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-12T23:38:57.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1762521865899}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-12","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-13T00:44:15.868Z","updatedAt":"2025-11-13T00:44:15.868Z","id":"IyArUcMmOz5n1KzI","name":"Sesion_3"}]}