Sesion_7/Qdrant_Simple_--_Con_citaciones.json
{"createdAt":"2025-10-24T15:22:10.620Z","updatedAt":"2025-11-13T00:54:43.000Z","id":"gHINTzh3eEBh5FtN","name":"Qdrant Simple -- Con citaciones","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"a4e75632-53d5-44f6-b76b-ad639746dfb8","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-368,672],"typeVersion":1},{"parameters":{"dataType":"binary","binaryMode":"specificField","options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Get file').item.json.id }}"},{"name":"file_name","value":"={{ $('Get file').item.json.name }}"}]}}},"id":"d675e6df-4e83-41aa-a1c8-1dacc6ea5e8c","name":"Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[848,928],"typeVersion":1},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"qdrant-test-768","mode":"id"},"options":{}},"id":"f891f24e-de21-4eeb-a7ff-bfd6effdaedf","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[768,688],"typeVersion":1,"credentials":{"qdrantApi":{"id":"I7gJVJCOcOjpkfrQ","name":"QdrantApi account"}}},{"parameters":{"chunkSize":500,"chunkOverlap":50,"options":{}},"id":"eeddac52-521a-4246-ba7f-ec7d25f59bc9","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[832,1088],"typeVersion":1},{"parameters":{"options":{}},"id":"9dc5be69-1f27-4d2f-9206-e1954ea14ca4","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[192,672],"typeVersion":3},{"parameters":{},"id":"7b8e10f4-8fb8-411d-a551-84204667c78e","name":"Wait","type":"n8n-nodes-base.wait","position":[1152,688],"webhookId":"89248db2-59f2-4b61-9cd5-71406144efee","typeVersion":1.1},{"parameters":{"options":{}},"id":"359ea28b-3094-49ce-9190-cb2275927779","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-448,1456],"webhookId":"c9460030-9e23-41c4-9fcd-6c4c7fadf784","typeVersion":1.1},{"parameters":{"options":{"systemPromptTemplate":"You are an assistant for question-answering tasks. Use the following pieces of retrieved context to answer the question.\nIf you don't know the answer, just say that you don't know, don't try to make up an answer.\n----------------\nContext: {context}"}},"id":"146322cc-021a-4e46-8a17-545ca204e5a3","name":"Question and Answer Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","position":[208,1664],"typeVersion":1.5},{"parameters":{"topK":5},"id":"ef07fa21-4627-45b2-9061-dfc4190b3533","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","position":[256,1888],"typeVersion":1},{"parameters":{"qdrantCollection":{"__rl":true,"mode":"list","value":"negozio-emporio-verde","cachedResultName":"negozio-emporio-verde"},"options":{}},"id":"5f7ccb24-fa8b-4bdc-aec4-0a0d3123a719","name":"Qdrant Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[160,2032],"typeVersion":1.1,"credentials":{"qdrantApi":{"id":"I7gJVJCOcOjpkfrQ","name":"QdrantApi account"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"80c1f2df-e79b-4f82-beff-9d49ab907bab","name":"Merge1","type":"n8n-nodes-base.merge","position":[656,1520],"typeVersion":3.1},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"document.metadata.file_id"},{"fieldToAggregate":"document.metadata.file_name"}]},"options":{}},"id":"4aa68858-fb74-4060-b3b3-4124d7ab559d","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[480,1328],"typeVersion":1},{"parameters":{"resource":"fileFolder","filter":{"driveId":{"__rl":true,"mode":"list","value":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"https://drive.google.com/drive/folders/1ttGchCPAWh1wRR40WJHJDdWIrun_mQX5","mode":"url"}},"options":{}},"id":"c5a402b9-8cab-4617-bef7-04127d3c875d","name":"Get folder","type":"n8n-nodes-base.googleDrive","position":[-112,672],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"M9NFe7JaZql58gq7","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"5398c951-ab1e-4fec-9259-6e6f888be927","name":"Get file","type":"n8n-nodes-base.googleDrive","position":[480,688],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"M9NFe7JaZql58gq7","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"282b9bed-e5fd-4edb-95d5-682bcc08e070","name":"chatInput","type":"string","value":"={{ $json.chatInput }}"}]},"options":{}},"id":"7663ac01-babf-43e4-9fbf-e65eae4e81da","name":"chatInput","type":"n8n-nodes-base.set","position":[-192,1456],"typeVersion":3.4},{"parameters":{"mode":"load","qdrantCollection":{"__rl":true,"value":"qdrant-test-768","mode":"id"},"prompt":"={{ $json.chatInput }}","topK":5,"options":{}},"id":"a8e17322-1970-4212-869e-4b7593f6b547","name":"Retrive sources","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[160,1328],"typeVersion":1.1,"credentials":{"qdrantApi":{"id":"I7gJVJCOcOjpkfrQ","name":"QdrantApi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b296c92b-d9ee-4322-b972-d1069d01feb8","name":"output","type":"string","value":"={{ $('Question and Answer Chain').item.json.response }}\n\nSources: {{ (JSON.stringify($json.unique_file_names)) }},"}]},"options":{}},"id":"9c04e10b-2796-41f4-ab8c-9226c4f1769b","name":"Output","type":"n8n-nodes-base.set","position":[1072,1520],"typeVersion":3.4},{"parameters":{"jsCode":"const item = $input.item.json;\n\n// Creiamo Set per rimuovere duplicati\nconst uniqueFileIds = Array.from(new Set(item.file_id));\nconst uniqueFileNames = Array.from(new Set(item.file_name));\n\n// Ritorniamo un item con i valori univoci\nreturn [\n  {\n    json: {\n      unique_file_ids: uniqueFileIds,\n      unique_file_names: uniqueFileNames\n    }\n  }\n];\n"},"id":"7cd10f20-cd1e-468d-bbd0-f8a553a3c8b2","name":"Response","type":"n8n-nodes-base.code","position":[896,1520],"typeVersion":2},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[640,912],"id":"8e7bd0e0-16f3-4268-ba12-a82865526028","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[256,1504],"id":"aed67130-b256-4bab-8d81-b8e833288d92","name":"Embeddings Google Gemini1","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[96,1872],"id":"1a8c419f-3270-407a-8f06-c8049853efeb","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[112,2192],"id":"c1367f37-81d8-4c18-87e5-e338ad87f953","name":"Embeddings Google Gemini2","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Response","type":"main","index":0}]]},"Get file":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Response":{"main":[[{"node":"Output","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"chatInput":{"main":[[{"node":"Question and Answer Chain","type":"main","index":0},{"node":"Retrive sources","type":"main","index":0}]]},"Get folder":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get file","type":"main","index":0}]]},"Retrive sources":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Qdrant Vector Store":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Qdrant Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"Question and Answer Chain":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"When chat message received":{"main":[[{"node":"chatInput","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Get folder","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Retrive sources","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Embeddings Google Gemini2":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"n8n":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"72dcd365-1b3c-42ac-8cb7-df448dda85e7","triggerCount":0,"shared":[{"createdAt":"2025-10-24T15:22:10.633Z","updatedAt":"2025-10-24T15:22:10.633Z","role":"workflow:owner","workflowId":"gHINTzh3eEBh5FtN","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-12T23:38:57.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1762521865899}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-12","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-13T00:54:09.966Z","updatedAt":"2025-11-13T00:54:09.966Z","id":"uFHeh7JjGLQE5RL1","name":"Sesion_7"}]}