Sesion_9/Asist_v1.0.1.json
{"createdAt":"2025-11-07T05:17:38.527Z","updatedAt":"2025-11-13T00:58:19.000Z","id":"CiewpRDVqcVrDafZ","name":"Asist_v1.0.1","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[352,-96],"id":"f2cf223a-f5bc-45fc-8cea-b94426b9dfe4","name":"n8n","credentials":{"n8nApi":{"id":"Exeyn251dCawQxm9","name":"n8n cuenta 3 - test"}}},{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[320,176],"id":"3ce49d30-dbf7-45a1-a7df-c4172b69818f","name":"n8n Trigger","disabled":true},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"url","value":"https://github.com/FranprzDev","__regex":"https:\\/\\/(?:[^/]+)\\/([-_0-9a-zA-Z]+)"},"repository":{"__rl":true,"value":"n8n-workflows-course","mode":"list","cachedResultName":"n8n-workflows-course","cachedResultUrl":"https://github.com/FranprzDev/n8n-workflows-course"},"filePath":"=n8n/{{ ($json.name).split(' ').join('_') }}","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=Create at {{ new Date($now).toDateTime().toLocal('ES') }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[576,-96],"id":"fe48d286-efad-4664-a1d7-e5687fc0a0e9","name":"GitHub","webhookId":"6dd62fc1-8eec-420e-99a9-c831c208afb7","credentials":{"githubApi":{"id":"GIPbubj5HIPo8s3Q","name":"GitHub account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[112,-96],"id":"32c2239f-7d68-4a72-9b4a-2d524fd40002","name":"Click"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[928,304],"id":"17f26835-1143-4755-919a-3a29df5f2350","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[928,464],"id":"f8d24ffd-d4e4-40ad-8186-5dcd5b9108f4","name":"No Operation, do nothing1"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[240,368],"id":"2acc4af1-7b27-43cd-8f7a-fb5f86e0d78b","name":"n8n1","credentials":{"n8nApi":{"id":"Exeyn251dCawQxm9","name":"n8n cuenta 3 - test"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"url","value":"https://github.com/FranprzDev","__regex":"https:\\/\\/(?:[^/]+)\\/([-_0-9a-zA-Z]+)"},"repository":{"__rl":true,"value":"n8n-workflows-course","mode":"list","cachedResultName":"n8n-workflows-course","cachedResultUrl":"https://github.com/FranprzDev/n8n-workflows-course"},"filePath":"={{ $json.tags[0].name }}/{{ ($json.name).split(' ').join('_') }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=Create at {{ new Date($now).toDateTime().toLocal('ES') }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[656,368],"id":"507afa15-af28-4c2a-a32e-40cb5449a5c2","name":"GitHub1","webhookId":"6dd62fc1-8eec-420e-99a9-c831c208afb7","retryOnFail":false,"maxTries":2,"credentials":{"githubApi":{"id":"GIPbubj5HIPo8s3Q","name":"GitHub account"}},"onError":"continueErrorOutput"}],"connections":{"n8n Trigger":{"main":[[]]},"n8n":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"Click":{"main":[[{"node":"n8n1","type":"main","index":0}]]},"GitHub":{"main":[[]]},"n8n1":{"main":[[{"node":"GitHub1","type":"main","index":0}]]},"GitHub1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c215da3e-0781-4dd3-8bcf-b09a441d19a4","triggerCount":1,"shared":[{"createdAt":"2025-11-07T05:17:38.573Z","updatedAt":"2025-11-07T05:17:38.573Z","role":"workflow:owner","workflowId":"CiewpRDVqcVrDafZ","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-12T23:38:57.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1762521865899}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-12","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-13T00:58:14.578Z","updatedAt":"2025-11-13T00:58:14.578Z","id":"UNSrH84hoUifRtVr","name":"Sesion_9"}]}