Sesion_9/Qdrant_Simple_-_(Sesion_8,_Corregido).json
{"createdAt":"2025-11-07T05:50:43.457Z","updatedAt":"2025-11-13T00:59:18.000Z","id":"UDKtWwr6aEVYJouN","name":"Qdrant Simple - (Sesion 8, Corregido)","active":false,"isArchived":false,"nodes":[{"parameters":{"dataType":"binary","binaryMode":"specificField","options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $json.id }}"},{"name":"pubkey","value":"={{ $json.name }}"}]}}},"id":"3c880d92-fd72-4937-9470-62716fb9107b","name":"Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[1904,2000],"typeVersion":1},{"parameters":{"chunkOverlap":100},"id":"175040de-e5f6-4ee7-bece-e9d1c6e95974","name":"Token Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","position":[1904,2144],"typeVersion":1},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"=testing_2_drive","mode":"id"},"options":{}},"id":"ede97a36-248c-4589-81c2-c8629e19a008","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[1840,1808],"executeOnce":false,"retryOnFail":true,"typeVersion":1,"credentials":{"qdrantApi":{"id":"I7gJVJCOcOjpkfrQ","name":"QdrantApi account"}},"onError":"continueRegularOutput"},{"parameters":{"options":{}},"id":"1b82a328-b127-42e0-854f-d596e65c7dd3","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1472,1136],"typeVersion":3,"executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{},"id":"c6f01362-7261-4263-9488-1f3c90374fd8","name":"Wait","type":"n8n-nodes-base.wait","position":[2304,2128],"webhookId":"237d7f8a-aead-479a-b813-f407d1f37fa5","typeVersion":1.1},{"parameters":{},"id":"6c41642c-0f3c-4879-85c1-92c438d19511","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[1008,1136],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{}},"id":"3c31fd51-3652-40e8-8d1d-626db7e2dba1","name":"Download File From Google Drive","type":"n8n-nodes-base.googleDrive","position":[1792,1120],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"M9NFe7JaZql58gq7","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"driveId":{"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"=1ttGchCPAWh1wRR40WJHJDdWIrun_mQX5","mode":"id"}},"options":{}},"id":"5831c37d-afab-4a5b-8ef9-acd7cc6bd5b6","name":"Find File Ids in Google Drive Folder","type":"n8n-nodes-base.googleDrive","position":[1248,1136],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"M9NFe7JaZql58gq7","name":"Google Drive account"}}},{"parameters":{"content":"## Perform Qdrant Vector Store Operations","height":640,"width":920,"color":7},"id":"38213235-0397-47f4-b662-2b953128c39a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1600,1696],"typeVersion":1},{"parameters":{"content":"## Google Drive","height":320,"width":300,"color":2},"id":"194b9b84-d324-484f-ba9c-59c85b1e0a91","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1680,1008],"typeVersion":1},{"parameters":{"content":"## ✨ Save Documents to Qdrant Vector Store","height":1480,"width":1360,"color":5},"id":"3262cc5f-3266-44d3-98bb-91bfaecef017","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1376,928],"typeVersion":1},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=Eres un asistente que se encarga de obtener documentos desde una tool externa que es una base de datos vectorial; y debes SIEMPRE utilizar dicha tool.\nDebes responder al usuario de forma breve y concisa; con la mayor formalidad posible.\n\nUtiliza la herramienta retriever y siempre devuelve los parámetros que sean necesarios para que funcione."}},"id":"57b82760-8656-4226-86fb-ad2bac5e7472","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[688,80],"typeVersion":1.7},{"parameters":{"options":{}},"id":"a8c30d72-66fb-4a73-b64c-4984eb6b1413","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[176,80],"webhookId":"5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd","typeVersion":1.1},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{"maxOutputTokens":8192}},"id":"fe05dea2-c724-4531-b4cf-4b2f588daa75","name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[560,288],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## 🗣️ Chat with Your Documents","height":320,"width":340,"color":4},"id":"ffb050cb-595f-4027-b42c-1c93ac86e436","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[0,-16],"typeVersion":1},{"parameters":{"content":"# Step 2 - Chat with Your Documents from Qdrant Vector Store","height":720,"width":1780,"color":7},"id":"fcee05b5-bcd4-449c-9830-c14821f6aa67","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[-80,-144],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"cd8f88e1-19c0-4b9e-914d-e2e7ba21d9fa","name":"output","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"24adbab6-9df3-47ee-bb9c-2a6566ddca7b","name":"Respond to User","type":"n8n-nodes-base.set","position":[1408,320],"typeVersion":3.4},{"parameters":{"content":"## Save Chat History","height":300,"width":340,"color":4},"id":"e1c86158-6e1d-4ac0-b1db-a4577a3a96f8","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[1280,-16],"typeVersion":1},{"parameters":{"operation":"update","documentURL":"1mk8ZwZL94QphRfiwJL-QPjY8-Lpihf_ykjxaPB5uA1A","actionsUi":{"actionFields":[{"action":"insert","text":"=\n-------------------------------\n\n{{ $now }}\n\n{{ $('When chat message received').item.json.chatInput  }}\n\n{{ $json.output }}"}]}},"id":"c6d883c5-8abe-48da-b4b9-e9af45fc76fc","name":"Update Chat History","type":"n8n-nodes-base.googleDocs","position":[1408,80],"typeVersion":2,"credentials":{"googleDocsOAuth2Api":{"id":"9eBYvw89xWqM3IoU","name":"Google Docs account"}},"disabled":true},{"parameters":{"mode":"retrieve-as-tool","toolName":"retriever","toolDescription":"Retrieve data from a semantic database to answer questions","qdrantCollection":{"__rl":true,"value":"LeyContratoTrabajo","mode":"list","cachedResultName":"LeyContratoTrabajo"},"topK":20,"options":{}},"id":"e0a710cc-76df-4fcb-bbb5-ea2687901a15","name":"Qdrant Vector Store Tool","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[832,288],"typeVersion":1,"credentials":{"qdrantApi":{"id":"I7gJVJCOcOjpkfrQ","name":"QdrantApi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1728,2000],"id":"a1d10cf3-75d2-4438-bce1-7880d0afc02a","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## 🤖Retrieve Content from Qdrant Vector Store","height":584,"width":732,"color":5},"id":"d59a2c78-b0ae-493d-9fee-edce2846c63e","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[384,-16],"typeVersion":1},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[832,416],"id":"55c5901f-493e-4761-ab01-7d3e48b50d0a","name":"Embeddings Google Gemini1","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-176,1120],"id":"ae028eeb-3049-45a9-a4eb-60745acdde4d","name":"n8n","credentials":{"n8nApi":{"id":"Exeyn251dCawQxm9","name":"n8n cuenta 3 - test"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"url","value":"https://github.com/FranprzDev","__regex":"https:\\/\\/(?:[^/]+)\\/([-_0-9a-zA-Z]+)"},"repository":{"__rl":true,"value":"n8n-workflows-course","mode":"list","cachedResultName":"n8n-workflows-course","cachedResultUrl":"https://github.com/FranprzDev/n8n-workflows-course"},"filePath":"={{ $json.tags[0].name }}/{{ ($json.name).split(' ').join('_') }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=Create at {{ new Date($now).toDateTime().toLocal('ES') }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[240,1120],"id":"faf89e59-d8af-47fd-b0ea-068edda91a60","name":"GitHub","webhookId":"6dd62fc1-8eec-420e-99a9-c831c208afb7","retryOnFail":false,"maxTries":2,"credentials":{"githubApi":{"id":"GIPbubj5HIPo8s3Q","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[512,1056],"id":"b8a634b4-79a8-451b-8b5a-93ab638bf759","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[512,1216],"id":"bdd5e84d-7160-498d-b8aa-a9685151f62f","name":"No Operation, do nothing1"}],"connections":{"Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Data Loader","type":"ai_textSplitter","index":0}]]},"Qdrant Vector Store":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Download File From Google Drive","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Download File From Google Drive":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Find File Ids in Google Drive Folder":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Update Chat History","type":"main","index":0},{"node":"Respond to User","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Qdrant Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Qdrant Vector Store Tool","type":"ai_embedding","index":0}]]},"n8n":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c77c3d91-3f87-4189-ade8-2d0f8fc58cfb","triggerCount":0,"shared":[{"createdAt":"2025-11-07T05:50:43.465Z","updatedAt":"2025-11-07T05:50:43.465Z","role":"workflow:owner","workflowId":"UDKtWwr6aEVYJouN","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-12T23:38:57.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1762521865899}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-12","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-13T00:58:14.578Z","updatedAt":"2025-11-13T00:58:14.578Z","id":"UNSrH84hoUifRtVr","name":"Sesion_9"}]}