Sesion_2/Sistema_de_Trazabilidad_de_Expedientes_con_Google_Sheets
{"createdAt":"2025-09-30T15:25:23.048Z","updatedAt":"2025-11-13T00:43:40.000Z","id":"GsfwqqL1dhxJyNQY","name":"Sistema de Trazabilidad de Expedientes con Google Sheets","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-288,-480],"id":"872415f7-56d4-4ad0-a563-44e5dc5b0bb9","name":"Manual"},{"parameters":{"assignments":{"assignments":[{"id":"528f8a98-ed6e-49ef-ad6c-771c9b248985","name":"numero_expediente","value":"={{ $json.body.numero_expediente }}","type":"string"},{"id":"e88c6818-ab5a-4ff2-884a-65f8497aaa3a","name":"fecha_ingreso","value":"={{ $json.body.fecha_ingreso }}","type":"string"},{"id":"9abe7fa0-c444-49d4-8a7d-61d4e4eadfd6","name":"tipo_expediente","value":"={{ $json.body.tipo_expediente }}","type":"string"},{"id":"0c85662a-8d2e-4b06-b95c-eb6967b08212","name":"actor","value":"={{ $json.body.actor }}","type":"string"},{"id":"010db7fb-5d37-446a-8277-b36ffd7cb3b0","name":"demandado","value":"={{ $json.body.demandado }}","type":"string"},{"id":"0cb0caef-5366-457b-9624-cbc0aa90b01b","name":"juzgado","value":"={{ $json.body.juzgado }}","type":"string"},{"id":"ea6fa380-2e52-4591-9951-6e3b242bc1a7","name":"monto_reclamado\t","value":"={{ $json.body.monto_reclamado }}","type":"string"},{"id":"19801981-5004-4a5d-993b-5e3e92a04bfe","name":"estado\t","value":"={{ $json.body.estado }}","type":"string"},{"id":"0344fe4d-689b-4e2c-9661-9c8d4eb2ecc9","name":"observaciones","value":"={{ $json.body.Observaciones }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,-64],"id":"41850800-84c8-4a21-a596-9ef858473922","name":"Cargar"},{"parameters":{"httpMethod":"POST","path":"6a16787f-5bbb-4bb7-9344-1e20b4f53ea1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-96,-16],"id":"1b08d2c1-a731-4e2f-ad78-d294bb4f26fb","name":"Webhook","webhookId":"6a16787f-5bbb-4bb7-9344-1e20b4f53ea1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1kEEuZNXR1Ir0w2BORa_EFMj8HyPwrvfVUFG5h0gXdNE","mode":"list","cachedResultName":"Expediente 2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kEEuZNXR1Ir0w2BORa_EFMj8HyPwrvfVUFG5h0gXdNE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kEEuZNXR1Ir0w2BORa_EFMj8HyPwrvfVUFG5h0gXdNE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"numero_expediente":"={{ $json.numero_expediente }}","fecha_ingreso":"={{ $json.fecha_ingreso }}","tipo_expediente":"={{ $json.tipo_expediente }}","actor":"={{ $json.actor }}","demandado":"={{ $json.demandado }}","juzgado":"={{ $json.juzgado }}","monto_reclamado":"={{ $json['monto_reclamado\t'] }}","estado":"={{ $json['estado\t'] }}","observaciones":"={{ $json.observaciones }}"},"matchingColumns":[],"schema":[{"id":"numero_expediente","displayName":"numero_expediente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha_ingreso","displayName":"fecha_ingreso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tipo_expediente","displayName":"tipo_expediente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"actor","displayName":"actor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"demandado","displayName":"demandado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"juzgado","displayName":"juzgado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto_reclamado","displayName":"monto_reclamado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"observaciones","displayName":"observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[544,-64],"id":"f4e51377-90cd-4330-a308-97992523d257","name":"Agregar Fila en Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"a1I0CIu3KpmjrMyx","name":"Credencial - franciscoperezdeveloper@gmail.com"}}},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-32,-480],"id":"0464500d-0dcd-4feb-a2e3-932e82baf8d9","name":"n8n","credentials":{"n8nApi":{"id":"Exeyn251dCawQxm9","name":"n8n cuenta 3 - test"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"url","value":"https://github.com/FranprzDev","__regex":"https:\\/\\/(?:[^/]+)\\/([-_0-9a-zA-Z]+)"},"repository":{"__rl":true,"value":"n8n-workflows-course","mode":"list","cachedResultName":"n8n-workflows-course","cachedResultUrl":"https://github.com/FranprzDev/n8n-workflows-course"},"filePath":"={{ $json.tags[0].name }}/{{ ($json.name).split(' ').join('_') }}","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=Create at {{ new Date($now).toDateTime().toLocal('ES') }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[384,-480],"id":"0d3bad78-5dfe-4867-885b-50722fe35281","name":"GitHub","webhookId":"6dd62fc1-8eec-420e-99a9-c831c208afb7","retryOnFail":false,"maxTries":2,"credentials":{"githubApi":{"id":"GIPbubj5HIPo8s3Q","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[656,-544],"id":"9ac1f971-e267-42a6-9cb0-4df3ce36968d","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[656,-384],"id":"ef8ebfb8-2981-4104-a0ef-fc84009d6a04","name":"No Operation, do nothing1"}],"connections":{"Manual":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Cargar":{"main":[[{"node":"Agregar Fila en Sheet","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Cargar","type":"main","index":0}]]},"n8n":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1e72cf70-d886-4942-9d6f-33889e490d6a","triggerCount":0,"shared":[{"createdAt":"2025-09-30T15:25:23.063Z","updatedAt":"2025-09-30T15:25:23.063Z","role":"workflow:owner","workflowId":"GsfwqqL1dhxJyNQY","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-12T23:38:57.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1762521865899}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-12","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-13T00:43:39.146Z","updatedAt":"2025-11-13T00:43:39.146Z","id":"UbZRskZ2DrPYh9JK","name":"Sesion_2"}]}