Sesion_6/Analisis_de_Sentimiento_con_Gemini_+_Telegram.json
{"createdAt":"2025-10-21T13:19:31.723Z","updatedAt":"2025-11-13T00:48:14.000Z","id":"aM6GNPab3EmE1kjR","name":"Analisis de Sentimiento con Gemini + Telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-336,-32],"id":"fdcae47c-e7f7-4167-9dca-6ebc7f3fc44d","name":"Telegram Trigger","webhookId":"5ae3318b-db70-44ba-8d61-09a4ab49100d","credentials":{"telegramApi":{"id":"a52e5NSkPO0JwKs4","name":"Curso en vivo n8n"}},"disabled":true},{"parameters":{"inputText":"={{ $json.message.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1.1,"position":[-80,-48],"id":"3996a350-a0ab-4a8f-a31d-c2ca76fa7f07","name":"Sentiment Analysis","disabled":true},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[288,-48],"id":"4bc8b514-8154-4699-a45d-a9a57e98cb46","name":"Merge","disabled":true},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.sentimentAnalysis.category }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[512,-32],"id":"ff356053-d25f-46de-bffd-6d0da758351c","name":"Send a text message","webhookId":"5e85551c-4cdc-4fd5-b333-51296a798fa7","credentials":{"telegramApi":{"id":"a52e5NSkPO0JwKs4","name":"Curso en vivo n8n"}},"disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-128,192],"id":"37f9107c-5cd0-49b7-ac3f-0fa75504473b","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}},"disabled":true},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-544,-368],"id":"38e7e670-5743-4c55-85b6-3c01e02ff4a2","name":"Telegram Trigger1","webhookId":"ee2c673e-e70f-4a38-a798-441b022cc6e3","credentials":{"telegramApi":{"id":"a52e5NSkPO0JwKs4","name":"Curso en vivo n8n"}}},{"parameters":{"inputText":"={{ $json.message.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1.1,"position":[-112,-384],"id":"282cd92f-665a-4516-a602-42fe2da2a43b","name":"Sentiment Analysis1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-144,-176],"id":"2e33dfa3-af5c-4838-be8d-4d766d090e73","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"={{ $json.sentimentAnalysis.category }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[544,-368],"id":"14b55525-4192-4380-a217-5a9a4988f439","name":"Send a text message1","webhookId":"300ba262-413e-47e2-8531-3da3154b56c4","credentials":{"telegramApi":{"id":"a52e5NSkPO0JwKs4","name":"Curso en vivo n8n"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[16,464],"id":"706f14bd-277a-4001-ac03-9c0550a01b56","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[240,464],"id":"24d85080-ddce-44f3-94c8-4879e1c4d7dd","name":"n8n","credentials":{"n8nApi":{"id":"Exeyn251dCawQxm9","name":"n8n cuenta 3 - test"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"url","value":"https://github.com/FranprzDev","__regex":"https:\\/\\/(?:[^/]+)\\/([-_0-9a-zA-Z]+)"},"repository":{"__rl":true,"value":"n8n-workflows-course","mode":"list","cachedResultName":"n8n-workflows-course","cachedResultUrl":"https://github.com/FranprzDev/n8n-workflows-course"},"filePath":"={{ $json.tags[0].name }}/{{ ($json.name).split(' ').join('_') }}","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=Create at {{ new Date($now).toDateTime().toLocal('ES') }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[656,464],"id":"204868ae-dff1-49c7-a756-15543db32ab5","name":"GitHub","webhookId":"6dd62fc1-8eec-420e-99a9-c831c208afb7","retryOnFail":false,"maxTries":2,"credentials":{"githubApi":{"id":"GIPbubj5HIPo8s3Q","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[928,400],"id":"73720d99-d256-40bc-87c9-5f7e09be37fa","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[928,560],"id":"2dee730d-5230-4df9-975a-4e75c9e34fd8","name":"No Operation, do nothing1"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Sentiment Analysis","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Sentiment Analysis":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}],[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Sentiment Analysis","type":"ai_languageModel","index":0}]]},"Telegram Trigger1":{"main":[[{"node":"Sentiment Analysis1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Sentiment Analysis1","type":"ai_languageModel","index":0}]]},"Sentiment Analysis1":{"main":[[{"node":"Send a text message1","type":"main","index":0}],[{"node":"Send a text message1","type":"main","index":0}],[{"node":"Send a text message1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3b7cb686-4649-459e-85e2-695b494285ef","triggerCount":0,"shared":[{"createdAt":"2025-10-21T13:19:31.737Z","updatedAt":"2025-10-21T13:19:31.737Z","role":"workflow:owner","workflowId":"aM6GNPab3EmE1kjR","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-12T23:38:57.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1762521865899}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-12","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-13T00:48:12.991Z","updatedAt":"2025-11-13T00:48:12.991Z","id":"lHoNIBjsrZBv80Cn","name":"Sesion_6"}]}