Sesion_6/Analisis_de_Sentimiento_con_HuggingFace_+_Telegram.json
{"createdAt":"2025-10-21T13:22:08.657Z","updatedAt":"2025-11-13T00:53:01.000Z","id":"gm7J63Bz5YvL7Owe","name":"Analisis de Sentimiento con HuggingFace + Telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-368,-176],"id":"cc512581-c7ae-4c28-b161-94af7d1df74d","name":"Telegram Trigger","webhookId":"67d15c09-2c4a-423b-8a25-0d799b9f465b","credentials":{"telegramApi":{"id":"VZUmwmVKOxf89H3p","name":"Telegram account"}},"disabled":true},{"parameters":{"inputText":"={{ $json.message.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1.1,"position":[-160,-192],"id":"0182274d-e9b6-4f02-b5a9-26a8784c4570","name":"Sentiment Analysis","disabled":true},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.sentimentAnalysis.category }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[240,-192],"id":"f311d47c-21d1-4722-9177-866b7404483d","name":"Send a text message","webhookId":"7aaecfdf-9d80-4dc3-ad92-ffbcdc3b2bd5","credentials":{"telegramApi":{"id":"VZUmwmVKOxf89H3p","name":"Telegram account"}},"disabled":true},{"parameters":{"model":"tabularisai/multilingual-sentiment-analysis","options":{}},"type":"@n8n/n8n-nodes-langchain.lmOpenHuggingFaceInference","typeVersion":1,"position":[-224,32],"id":"96b90cdb-4945-4283-ab46-139accefdc9e","name":"Hugging Face Inference Model","credentials":{"huggingFaceApi":{"id":"2BhoG9Rhml7otCOl","name":"HuggingFaceApi account"}},"disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"Eres un clasificador de sentimientos.\nDebes siempre utilizar la tool asociada HTTP para interpretar que sentimiento tiene el mensaje."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-80,384],"id":"ecd9fa14-d526-43c9-b9c5-ad21f0a6dee0","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-112,624],"id":"f255cc14-88ea-460f-a20a-f0d2d2b56c8f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"method":"POST","url":"https://api.tabularis.ai/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"{{ $json.message.text }}\",\n  \"return_all_scores\": true\n} ","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[96,608],"id":"eede9050-0ec3-401d-93e2-0b21e67130da","name":"HTTP Request"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-336,384],"id":"bc8f23ae-ae6c-4c1a-8dd5-55276dc32a32","name":"Telegram Trigger2","webhookId":"67d15c09-2c4a-423b-8a25-0d799b9f465b","credentials":{"telegramApi":{"id":"a52e5NSkPO0JwKs4","name":"Curso en vivo n8n"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger2').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[304,384],"id":"ce140689-4542-461d-a03c-401c20c26465","name":"Send a text message1","webhookId":"7aaecfdf-9d80-4dc3-ad92-ffbcdc3b2bd5","credentials":{"telegramApi":{"id":"a52e5NSkPO0JwKs4","name":"Curso en vivo n8n"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Sentiment Analysis","type":"main","index":0}]]},"Sentiment Analysis":{"main":[[{"node":"Send a text message","type":"main","index":0}],[{"node":"Send a text message","type":"main","index":0}],[{"node":"Send a text message","type":"main","index":0}]]},"Hugging Face Inference Model":{"ai_languageModel":[[{"node":"Sentiment Analysis","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"HTTP Request":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram Trigger2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0f5003b5-8710-4e13-8144-7eeebd30ae2e","triggerCount":0,"shared":[{"createdAt":"2025-10-21T13:22:08.669Z","updatedAt":"2025-10-21T13:22:08.669Z","role":"workflow:owner","workflowId":"gm7J63Bz5YvL7Owe","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-12T23:38:57.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1762521865899}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-12","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-13T00:48:12.991Z","updatedAt":"2025-11-13T00:48:12.991Z","id":"lHoNIBjsrZBv80Cn","name":"Sesion_6"}]}