Sesion_6/MCP.json
{"createdAt":"2025-10-21T15:22:55.211Z","updatedAt":"2025-11-13T00:51:45.000Z","id":"Zy2O2zV84W7BWFDB","name":"MCP","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{"systemMessage":"Eres un asistente útil con acceso a las siguientes herramientas:\n\n1. add_numbers: Suma dos números. Recibe numero1 y numero2 como parámetros.\n2. reverse_text: Invierte una cadena de texto. Recibe texto como parámetro.\n3. get_current_time: Obtiene la hora actual en formato ISO. No requiere parámetros.\n\nInstrucciones:\n- Utiliza estas herramientas cuando el usuario te lo pida\n- Para sumas matemáticas, usa add_numbers\n- Para invertir texto, usa reverse_text\n- Cuando alguien pregunte la hora o la fecha, usa get_current_time\n- Siempre proporciona respuestas claras y amigables\n- Si el usuario pide algo que no puedas hacer con estas herramientas, indícalo claramente\n\nResponde siempre en español."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[208,0],"id":"f71ca47a-349f-4339-b6a6-f766cf1d13fe","name":"AI Agent"},{"parameters":{"endpointUrl":"http://localhost:3002/mcp","serverTransport":"httpStreamable","options":{"timeout":60000}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[368,224],"id":"fd1e1e8b-157e-4f25-aee8-4121d17b8ec4","name":"MCP Client"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[192,208],"id":"a97a6dd7-c9a4-4d4b-9d33-6f5ac75e9cee","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[0,0],"id":"fcfa9069-c5b2-4060-8524-767aecd9bc3a","name":"When chat message received","webhookId":"33de04a7-851b-41a2-9f6b-fc58de8cc173"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-16,576],"id":"bbb2982e-a694-4eb0-89d2-01a57794abba","name":"n8n","credentials":{"n8nApi":{"id":"Exeyn251dCawQxm9","name":"n8n cuenta 3 - test"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"url","value":"https://github.com/FranprzDev","__regex":"https:\\/\\/(?:[^/]+)\\/([-_0-9a-zA-Z]+)"},"repository":{"__rl":true,"value":"n8n-workflows-course","mode":"list","cachedResultName":"n8n-workflows-course","cachedResultUrl":"https://github.com/FranprzDev/n8n-workflows-course"},"filePath":"={{ $json.tags[0].name }}/{{ ($json.name).split(' ').join('_').json }}","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=Create at {{ new Date($now).toDateTime().toLocal('ES') }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[400,576],"id":"84931056-c924-42ad-b54d-b62e9a5ea0a1","name":"GitHub","webhookId":"6dd62fc1-8eec-420e-99a9-c831c208afb7","retryOnFail":false,"maxTries":2,"credentials":{"githubApi":{"id":"GIPbubj5HIPo8s3Q","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[672,512],"id":"cfc213ab-b0d0-4920-a312-e752aad1f3bb","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[672,672],"id":"39f51aa9-3969-458e-9ae2-82573d802f35","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-240,576],"id":"ceaaf828-e84f-457b-b276-f5e736f79f2c","name":"When clicking ‘Execute workflow’"}],"connections":{"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"n8n":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c29233c1-cb65-4a40-abb4-5846ca81269a","triggerCount":0,"shared":[{"createdAt":"2025-10-21T15:22:55.222Z","updatedAt":"2025-10-21T15:22:55.222Z","role":"workflow:owner","workflowId":"Zy2O2zV84W7BWFDB","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-12T23:38:57.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1762521865899}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-12","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-13T00:48:12.991Z","updatedAt":"2025-11-13T00:48:12.991Z","id":"lHoNIBjsrZBv80Cn","name":"Sesion_6"}]}