Sesion_6/Telegram_+_Audio.json
{"createdAt":"2025-10-21T13:53:52.776Z","updatedAt":"2025-11-13T00:52:54.000Z","id":"5Yjc90GWxkLCOFYO","name":"Telegram + Audio","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[-400,176],"id":"484ef58d-3f23-4dec-9786-cea837243fa9","webhookId":"743774d2-c2ec-4fdc-8f05-7147723bcba9","credentials":{"telegramApi":{"id":"VZUmwmVKOxf89H3p","name":"Telegram account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"name":"Get Audio File","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[0,16],"id":"9cf3b20c-5acf-452b-9334-5708453632a0","webhookId":"fdaf9224-579a-4a22-9ff6-6bebe0b2ce86","credentials":{"telegramApi":{"id":"VZUmwmVKOxf89H3p","name":"Telegram account"}}},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[240,16],"id":"055716d7-1d78-4019-9638-3f343fdaf536","name":"Transcribe a recording","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[848,176],"id":"2a67fc59-ac0f-42b4-ab34-98bb639bdb7f","name":"Merge"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.text }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1120,176],"id":"bf5a5cbe-e9d6-448a-bc0f-40ae83d98119","name":"Send a text message","webhookId":"a913553c-97fb-4d34-9829-ed2fd5525370","credentials":{"telegramApi":{"id":"VZUmwmVKOxf89H3p","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"operator":{"type":"object","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.voice }}","rightValue":"","id":"12b0ad88-290e-4a85-a4b7-3eedd7739e39"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"342f0883-d959-44a2-b80d-379e39c76218","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.text }}","rightValue":""}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"id":"27963155-eb02-4021-9123-a1ea018ad5ef","name":"Enrutador","type":"n8n-nodes-base.switch","position":[-208,176],"typeVersion":3.2},{"parameters":{"assignments":{"assignments":[{"id":"d6ba7fbb-97d2-4fda-a870-01ee5e6f0e7a","name":"text","value":"={{ $json.content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,16],"id":"c7f22e5a-6ca2-4622-86df-3ab80ca6443b","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"07e96fb6-d62a-471a-91bc-c02201d72133","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,192],"id":"c8c600d5-cae5-4a15-bd32-a1e906158c8f","name":"Edit Fields1"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Enrutador","type":"main","index":0}]]},"Get Audio File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Enrutador":{"main":[[{"node":"Get Audio File","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d1193792-73e6-4958-a783-c04b0d2d5299","triggerCount":0,"shared":[{"createdAt":"2025-10-21T13:53:52.782Z","updatedAt":"2025-10-21T13:53:52.782Z","role":"workflow:owner","workflowId":"5Yjc90GWxkLCOFYO","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-12T23:38:57.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1762521865899}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-12","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-13T00:48:12.991Z","updatedAt":"2025-11-13T00:48:12.991Z","id":"lHoNIBjsrZBv80Cn","name":"Sesion_6"}]}