Sesion_8/Agente_Legislacion.json
{"createdAt":"2025-10-28T08:14:27.698Z","updatedAt":"2025-11-13T00:56:50.000Z","id":"nMrEtYor4MjLpVxZ","name":"Agente Legislacion","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"retrieve-as-tool","toolName":"Conocimiento","toolDescription":"Utiliza esta herramienta para obtener el conocimiento necesario y responder a las consultas.","qdrantCollection":{"__rl":true,"value":"rag_avanzado","mode":"list","cachedResultName":"rag_avanzado"},"topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[320,-272],"id":"b79a3ba8-0063-40a4-801f-91297f91c74a","name":"Conocimiento","credentials":{"qdrantApi":{"id":"I7gJVJCOcOjpkfrQ","name":"QdrantApi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[304,-96],"id":"db55d401-61d5-4456-8ef7-1dabca69b7b0","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-160,-256],"id":"0e07ba42-9f1f-411e-88de-1fd1e4e5e0c5","name":"Gemini1","credentials":{"googlePalmApi":{"id":"bHLYf02aHLDtdffz","name":"Credenciales Mamá"}}},{"parameters":{"description":"=Utiliza esta herramienta para razonar sobre las consultas que te llegan y así poder ser más preciso con tus acciones. También usa esta herramienta antes de dar respuesta para asegurarte que estás dando la respuesta correcta."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[176,-256],"id":"36e81228-a7aa-4219-b632-15468200e07a","name":"Pensar"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[16,-256],"id":"85f25da2-5f83-4060-9c61-d128ab862671","name":"Simple Memory1"},{"parameters":{"options":{"systemMessage":"=# Descripcion General:\nEres un agente de inteligencia artificial especializado en resolver consultas relacionadas con el ámbito legal, jurídico y del derecho en España. Utiliza solamente tu herramienta **Conocimiento** para responder a las cuestiones que te envíen. Nunca te inventes información ni respondas a nada sin consultar tu herramienta **Conocimiento**. Si no encuentras información, responde con que no dispones de dicha información.\n\n# Herramientas:\n1. **Conocimiento** utiliza esta herramienta para responder a cualquier consulta. Solo puedes utilizar esta herramienta para responder, nunca te inventes nada.\n\n# Reglas:\n\nLa herramienta **Conocimiento** es una base de datos vectorial con multitud de documentos legales (códidgo civil, código penal, etc). Cada documento dispone de metadatos que te ayudan a localizar la información relacionada con la consulta. Cuando te pidan que le des información sobre un Artículo concreto, solicita información sobre que documento es en caso de que no te la aporten.\n\n## Ejemplo 1:\n\n### Entrada: Dame el artículo 258 del Código Penal.\n\n### Acción: Usar la herramienta **Buscar** y ayudarte de los metadatos para encontrar información sobre el Código Penal.\n\n### Salida: \n\nArtículo 258.\n1. Será castigado con una pena de prisión de tres meses a un año o multa de seis a\ndieciocho meses quien, en un procedimiento de ejecución judicial o administrativo, presente\na la autoridad o funcionario encargados de la ejecución una relación de bienes o patrimonio\nincompleta o mendaz, y con ello dilate, dificulte o impida la satisfacción del acreedor.\nLa relación de bienes o patrimonio se considerará incompleta cuando el deudor\nejecutado utilice o disfrute de bienes de titularidad de terceros y no aporte justificación\nsuficiente del derecho que ampara dicho disfrute y de las condiciones a que está sujeto.\n2. La misma pena se impondrá cuando el deudor, requerido para ello, deje de facilitar la\nrelación de bienes o patrimonio a que se refiere el apartado anterior.\n3. Los delitos a que se refiere este artículo no serán perseguibles si el autor, antes de\nque la autoridad o funcionario hubieran descubierto el carácter mendaz o incompleto de la\ndeclaración presentada, compareciera ante ellos y presentara una declaración de bienes o\npatrimonio veraz y completa.\n\n\n## Ejemplo 2:\n\n### Entrada: Dame el artículo 258 bis.\n\n### Acción: Solicitar información de la ley concreta.\n\n### Salida: \n\nPor favor, necesito que me detalles la ley del artículo que necesitas.\n\nRecordatorios Finales:\n-Nunca te inventes información y solo busca información en la herramienta que te he mencionado. Solo da respuestas con la información que obtengas de las herramientas. Si no encuentras la información de la consulta, no te inventes nada, responde pidiendo más información acerca de la consulta. Si te solicitan el texto completo de algún artículo o de alguna ley, dáselo completo y no lo resumas.\n- Fecha y hora actual: {{ $now }}."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[96,-512],"id":"be75714f-4f48-404f-bbd5-2057fb66fb3e","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"=response","value":"={{$json.output}}","type":"string"}]},"options":{}},"id":"a07af871-7ad6-412e-be18-87e684fd7963","name":"✅","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,-688]},{"parameters":{"assignments":{"assignments":[{"id":"7ab380a2-a8d3-421c-ab4e-748ea8fb7904","name":"response","value":"No se puede realizar la tarea. Por favor, inténtalo de nuevo.","type":"string"}]},"options":{}},"id":"f692a62d-c78e-4521-a6c1-f724708d9bd8","name":"❌","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,-432]},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-224,-512],"id":"4a425555-0eff-450f-b1e0-77225a7812c4","name":"When Executed by Another Workflow"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[288,272],"id":"46869323-c787-406a-999f-dda2191d089b","name":"n8n","credentials":{"n8nApi":{"id":"Exeyn251dCawQxm9","name":"n8n cuenta 3 - test"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"url","value":"https://github.com/FranprzDev","__regex":"https:\\/\\/(?:[^/]+)\\/([-_0-9a-zA-Z]+)"},"repository":{"__rl":true,"value":"n8n-workflows-course","mode":"list","cachedResultName":"n8n-workflows-course","cachedResultUrl":"https://github.com/FranprzDev/n8n-workflows-course"},"filePath":"={{ $json.tags[0].name }}/{{ ($json.name).split(' ').join('_') }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=Create at {{ new Date($now).toDateTime().toLocal('ES') }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[704,272],"id":"e2ce29a8-7e00-4518-acb8-490932871ff6","name":"GitHub","webhookId":"6dd62fc1-8eec-420e-99a9-c831c208afb7","retryOnFail":false,"maxTries":2,"credentials":{"githubApi":{"id":"GIPbubj5HIPo8s3Q","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[976,208],"id":"bf5a7520-e773-4328-95f1-db10884f37d0","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[976,368],"id":"45822cd5-365a-40a7-99c3-477f95d01e17","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[64,272],"id":"e1814ae2-4abc-410a-b6bf-551e84e85030","name":"When clicking ‘Execute workflow’"}],"connections":{"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Conocimiento","type":"ai_embedding","index":0}]]},"Gemini1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Pensar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Conocimiento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"✅","type":"main","index":0}],[{"node":"❌","type":"main","index":0}]]},"n8n":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b739f860-247f-44d9-b837-fc19a46c32cc","triggerCount":0,"shared":[{"createdAt":"2025-10-28T08:14:27.704Z","updatedAt":"2025-10-28T08:14:27.704Z","role":"workflow:owner","workflowId":"nMrEtYor4MjLpVxZ","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-12T23:38:57.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1762521865899}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-12","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-13T00:56:03.165Z","updatedAt":"2025-11-13T00:56:03.165Z","id":"Yeb96maLrO8MxPS9","name":"Sesion_8"}]}