Sesion_8/Asistente_Abogado_-_Con_Workflow_Tool_Interna.json
{"createdAt":"2025-10-28T08:13:09.928Z","updatedAt":"2025-11-13T00:56:05.000Z","id":"2Lqn8nwrhz5ZLjhn","name":"Asistente Abogado - Con Workflow Tool Interna","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1072,240],"id":"35d064c1-c699-4a08-bd63-ae17120a86f2","name":"Telegram Trigger","webhookId":"c7f168fc-7798-468a-8807-3773b81bd03a","credentials":{"telegramApi":{"id":"a52e5NSkPO0JwKs4","name":"Curso en vivo n8n"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"0ef7181d-c151-4d40-a341-b0002fc82518"}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16af8e01-a416-45b8-8358-30e9243ca95f","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-848,240],"id":"37216d88-9fc0-4fdc-a6bc-3687d7b07485","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"9cd54906-fbfa-4578-a57c-e7cc41daae92","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-416,336],"id":"983989e2-f199-4d3b-816f-3e58d24b0dbc","name":"Edit Fields"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-624,144],"id":"aadb921d-b8c6-42ec-9774-6467a88100e7","name":"Descargar Audio","webhookId":"9054ba64-7bff-4b8c-9668-15c5b1dfd944","credentials":{"telegramApi":{"id":"HnoTIW3hjjV9sVOp","name":"SESION8-TEST"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[560,176],"id":"51caaa07-e8c3-4d3e-ae94-69c86df43683","name":"Telegram","webhookId":"ea339aa9-3b14-4d01-b99f-3021daca9474","credentials":{"telegramApi":{"id":"HnoTIW3hjjV9sVOp","name":"SESION8-TEST"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[448,448],"id":"49d23074-b6bf-4db1-89af-d91530ecad78","name":"Calculator"},{"parameters":{"name":"AgenteLegislacion","description":"Utiliza esta herramienta para consultas legales, jurídicas, o que requieran de un abogado.","workflowId":{"__rl":true,"value":"nMrEtYor4MjLpVxZ","mode":"list","cachedResultUrl":"/workflow/nMrEtYor4MjLpVxZ","cachedResultName":"Agente Legislacion"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[288,464],"id":"b1321911-0c9b-485e-b253-00337c2e89d4","name":"AgenteLegislacion"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Descripcion General:\n\nEres el asistente personal definitivo. Tu trabajo es enviar la consulta del usuario a la herramienta correcta. Nunca debes escribir correos electrónicos ni crear resúmenes, ni inventarte información. Solo debes llamar a la herramienta adecuada. Es importante que pases la consulta lo más detallada posible a tus herramientas para que puedan realizar la acción correctamente. SIEMPRE tienes que llamar a la herramienta adecuada en cualquier consulta, y NUNCA respondas sin obtener información de las siguientes herramientas:\n\n# Herramientas:\n**AgenteCalendario**: utiliza esta herramienta para gestionar eventos en el calendario.\n**AgenteEmail**: utiliza esta herramienta para realizar acciones en el correo electrónico.\n**AgenteLegislacion**: utiliza esta herramienta para consultas relacionadas en el ámbito legal, jurídico o que requiera de un abogado. Por ejemplo: consulta sobre un artículo, una ley, una normativa, o algo parecido.\n**AgenteContactos**: utiliza esta herramienta para añadir, eliminar, consultar, o editar un contacto.\n\n# Reglas:\nAlgunas acciones requieren que primero busques la información de contacto. Para las siguientes acciones, primero debes obtener la información de contacto y luego enviarla a la herramienta correspondiente:\n\nEnviar correos electrónicos\nRedactar correos electrónicos\nResponder correos electrónicos\nCrear un borrador\nCrear eventos de calendario\n\nEn caso de que el contacto que haya aportado en la entrada no se encuentre en la base de datos de contacto, deberá utilizar el correo que proporcione en la entrada. Si no ha proporcionado ningún correo, hay que solicitarlo.\n\nSi se pide enviar un correo a un destinatario que no se encuentra en la lista de contactos del **AgenteContactos**, pregúntale si desea añadir ese correo como nuevo contacto. Para ello, le pedirás como información el nombre del contacto y utilizarás al **AgenteContactos** para que agregue el nuevo contacto.\n\n## Ejemplo 1:\n\nEntrada: Envía un correo electrónico a José Manuel preguntándole a qué hora quiere salir.\n\nAcción:\n\nUsa **AgenteContactos** para obtener el correo electrónico de José Manuel.\nUsa **AgenteEmail** para enviar el correo electrónico. Pasarás la consulta a la herramienta con un mensaje como:\n\"Envía un correo electrónico a José Manuel preguntándole a qué hora quiere salir. Aquí está su correo electrónico: [dirección de correo electrónico]\"\nSalida: El correo ha sido enviado a José Manuel. ¿Puedo ayudarte con algo más?\n\n\n## Ejemplo 2:\n\nEntrada: Dame el artículo 200 del código civil.\n\nAcción: Usa **AgenteLegislacion** para que busque en su base de conocimiento el artículo 200 del código civil. Pasarás la consulta a la herramienta con un mensaje como: \"Artículo 200 del código civil\".\n\n\n\n\n- La fecha y hora actual es: **{{ $now }}**.  ","maxIterations":30}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[32,176],"id":"a0154dbc-1e89-4015-8431-a4ae401326ba","name":"Agente Principal"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-64,416],"id":"fb5c6589-50b9-4cbb-aa40-8c884c785bc9","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[80,432],"id":"75c3f191-034e-480f-9ce9-e862e7447881","name":"Simple Memory"},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-400,144],"id":"7810324a-021e-4ad7-b823-fdc515edaade","name":"Transcribe a recording","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.workflow_id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-368,-144],"id":"2d2a46cd-e617-454d-86af-83d1b5941ff7","name":"n8n","credentials":{"n8nApi":{"id":"60V93W5aiyMDYngo","name":"n8n account 2"}}},{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[-640,-144],"id":"c96ad50c-52e7-4077-a2e7-2bdd56f50f0a","name":"n8n Trigger"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"FranprzDev","mode":"list","cachedResultName":"FranprzDev","cachedResultUrl":"https://github.com/FranprzDev"},"repository":{"__rl":true,"value":"n8n-workflows-course","mode":"list","cachedResultName":"n8n-workflows-course","cachedResultUrl":"https://github.com/FranprzDev/n8n-workflows-course"},"filePath":"=n8n/{{ ($json.name).split(' ').join('_') }}","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"Update."},"type":"n8n-nodes-base.github","typeVersion":1,"position":[-128,-144],"id":"83b81ac4-b195-4d83-98a8-441567953fa4","name":"GitHub","webhookId":"6dd62fc1-8eec-420e-99a9-c831c208afb7","credentials":{"githubApi":{"id":"GIPbubj5HIPo8s3Q","name":"GitHub account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Descargar Audio","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Descargar Audio":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Agente Principal","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Agente Principal","type":"ai_tool","index":0}]]},"AgenteLegislacion":{"ai_tool":[[{"node":"Agente Principal","type":"ai_tool","index":0}]]},"Agente Principal":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Agente Principal","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Agente Principal","type":"ai_memory","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Agente Principal","type":"main","index":0}]]},"n8n":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"n8n Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"74b58208-1baf-458f-9003-87c29b2c6bc6","triggerCount":1,"shared":[{"createdAt":"2025-10-28T08:13:09.937Z","updatedAt":"2025-10-28T08:13:09.937Z","role":"workflow:owner","workflowId":"2Lqn8nwrhz5ZLjhn","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-12T23:38:57.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1762521865899}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-12","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-13T00:56:03.165Z","updatedAt":"2025-11-13T00:56:03.165Z","id":"Yeb96maLrO8MxPS9","name":"Sesion_8"}]}