Sesion_8/Ejecuciones.json
{"createdAt":"2025-10-31T14:15:49.139Z","updatedAt":"2025-11-13T00:57:30.000Z","id":"dX6wXyvSEYdkBsL2","name":"Ejecuciones","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-256,-144],"id":"2773c385-5a7a-44e0-b138-04468b93baeb","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"6fc0ac94-43e5-4424-85d9-cfb3d926c61d","name":"valor","value":"a","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,-192],"id":"6dcd1435-5661-499c-849d-d8e295387fe4","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,-192],"id":"2242fc14-5527-42f2-813d-c96fd5e5bc8e","name":"Edit Fields1"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-48,176],"id":"899a2fcc-471d-4e76-8657-22bfec3f5026","name":"n8n","credentials":{"n8nApi":{"id":"Exeyn251dCawQxm9","name":"n8n cuenta 3 - test"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"url","value":"https://github.com/FranprzDev","__regex":"https:\\/\\/(?:[^/]+)\\/([-_0-9a-zA-Z]+)"},"repository":{"__rl":true,"value":"n8n-workflows-course","mode":"list","cachedResultName":"n8n-workflows-course","cachedResultUrl":"https://github.com/FranprzDev/n8n-workflows-course"},"filePath":"={{ $json.tags[0].name }}/{{ ($json.name).split(' ').join('_') }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=Create at {{ new Date($now).toDateTime().toLocal('ES') }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[368,176],"id":"e6601f22-0d6f-4b91-a691-e34e3ef7b581","name":"GitHub","webhookId":"6dd62fc1-8eec-420e-99a9-c831c208afb7","retryOnFail":false,"maxTries":2,"credentials":{"githubApi":{"id":"GIPbubj5HIPo8s3Q","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[640,112],"id":"90c1f504-03af-4a13-ab89-7b6a9deb87a8","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[640,272],"id":"716874b4-d088-4949-bec1-6f192b20f8e0","name":"No Operation, do nothing1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"n8n":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6ff01dc5-e0cc-4ca8-91c1-fb5a2a5c4aff","triggerCount":0,"shared":[{"createdAt":"2025-10-31T14:15:49.150Z","updatedAt":"2025-10-31T14:15:49.150Z","role":"workflow:owner","workflowId":"dX6wXyvSEYdkBsL2","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-12T23:38:57.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1762521865899}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-12","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-13T00:56:03.165Z","updatedAt":"2025-11-13T00:56:03.165Z","id":"Yeb96maLrO8MxPS9","name":"Sesion_8"}]}