Sesion_8/RAG_-_Básico_y_Avanzado.json
{"createdAt":"2025-10-28T05:22:05.902Z","updatedAt":"2025-11-13T00:56:24.000Z","id":"QPcc5vkyuB5rYd9p","name":"RAG - Básico y Avanzado","active":false,"isArchived":false,"nodes":[{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.content }}","options":{"metadata":{"metadataValues":[{"name":"tipo_documento","value":"={{ $('Extraer Metadata General').item.json.output.tipo_documento }}"},{"name":"=resumen_documento","value":"={{ $('Extraer Metadata General').item.json.output.resumen_documento }}"},{"name":"descripcion_documento","value":"={{ $('Extraer Metadata General').item.json.output.descripcion_documento }}"},{"name":"analisis_documento","value":"={{ $('Extraer Metadata General').item.json.output.analisis_documento }}"},{"name":"conclusion_documento","value":"={{ $('Extraer Metadata General').item.json.output.conclusion_documento }}"},{"name":"keywords_documento","value":"={{ $('Extraer Metadata General').item.json.output.keywords_documento }}"},{"name":"capitulo","value":"={{ $json.chapter ?? '' }}"},{"name":"seccion","value":"={{ $json.section ?? '' }}"},{"name":"articulo","value":"={{ $json.article ?? '' }}"},{"name":"nombre_documento","value":"={{ $('Get file').item.json.name }}"},{}]}}},"id":"31e4738d-750d-4859-aa4f-1a3ca0418fca","name":"Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[672,80],"typeVersion":1},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"=rag_avanzado","mode":"id"},"options":{}},"id":"e53ac91f-7d05-4631-a97a-bd3767052e81","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[672,-128],"executeOnce":false,"retryOnFail":true,"typeVersion":1,"credentials":{"qdrantApi":{"id":"I7gJVJCOcOjpkfrQ","name":"QdrantApi account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// 1) Obtiene todo el texto\nconst fullText = $('Extraer PDF').first().json.text || '';\n\n// 2) Encuentra todos los encabezados de capítulo, sección y artículo\nconst headingRegex = /^((?:CAP[IÍ]TULO|SECCI[ÓO]N|ART[IÍ]CULO)\\s+[\\wÀ-ÿ\\.\\-]+)/gim;\nconst matches = [];\nlet m;\nwhile ((m = headingRegex.exec(fullText)) !== null) {\n  matches.push({\n    index: m.index,\n    header: m[1].trim()\n  });\n}\nmatches.push({ index: fullText.length, header: null });\n\n// 3) Funciones auxiliares\n// a) Extrae dígitos\nconst onlyDigits = str => (str.match(/\\d+/) || [''])[0];\n\n// b) Convierte romano a entero (soporta I, V, X, L, C, D, M)\nconst romanToInt = s => {\n  if (!s) return '';\n  const R = {I:1, V:5, X:10, L:50, C:100, D:500, M:1000};\n  let num = 0, prev = 0;\n  s.toUpperCase().split('').reverse().forEach(ch => {\n    const val = R[ch] || 0;\n    if (val < prev) num -= val;\n    else { num += val; prev = val; }\n  });\n  return num.toString();\n};\n\n// 4) Recorre los matches para extraer\nconst results = [];\nlet currentChapter = '';\nlet currentSection = '';\n\nfor (let i = 0; i < matches.length - 1; i++) {\n  const { index, header } = matches[i];\n  const nextIndex = matches[i + 1].index;\n  if (!header) continue;\n\n  const piece = header.match(/^(CAP[IÍ]TULO|SECCI[ÓO]N|ART[IÍ]CULO)\\s+(.+)$/i);\n  if (!piece) continue;\n  const [, typeRaw, numRaw] = piece;\n  console.log(typeRaw)\n  const type = typeRaw.toUpperCase();\n\n  // Intentamos extraer arabigos; si no hay, caemos a romano\n  const extractNum = str => {\n    const d = onlyDigits(str);\n    if (d) return d;\n    // extraer secuencia romana (letras I,V,X,L,C,D,M)\n    const romans = (str.match(/[IVXLCDM]+/i) || [''])[0];\n    return romanToInt(romans);\n  };\n\n  if (type === 'CAPÍTULO' || type === 'CAPITULO') {\n    currentChapter = extractNum(numRaw);\n    continue;\n  }\n  if (type === 'SECCIÓN' || type === 'SECCION') {\n    currentSection = extractNum(numRaw);\n    continue;\n  }\n  if (type === 'ARTÍCULO' || type === 'ARTICULO') {\n    const content = fullText.slice(index, nextIndex).trim();\n    const articleNum = extractNum(numRaw);\n\n    results.push({\n      json: {\n        chapter: currentChapter,   // ahora siempre un número en string\n        section: currentSection,\n        article: articleNum,\n        content\n      }\n    });\n  }\n}\n\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,-336],"id":"6d5cde4b-9d9f-423e-820b-af27be32f1b7","name":"Dividir Texto en Articulos"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1552,-192],"id":"040bb87b-9310-423d-bb81-7230b74a0bb1","name":"Extraer PDF"},{"parameters":{"text":"={{ $('Extraer PDF').item.json.text }}","attributes":{"attributes":[{"name":"resumen_documento","description":"Resume brevemente el tipo de documento en pocas líneas"},{"name":"descripcion_documento","description":"Describe brevemente el documento en pocas líneas."},{"name":"analisis_documento","description":"Extrae una lista de observaciones analíticas clave de la sección Perspectivas analíticas, incluidos los cambios de tono o comportamiento."},{"name":"conclusion_documento","description":"Resume las conclusiones extraídas sobre los hilos del usuario y su enfoque general."},{"name":"keywords_documento","description":"Genere una lista de 10 palabras clave que capten la esencia del documento (por ejemplo, \"codigoPenal\", \"codigoCivil\")."},{"name":"tipo_documento","description":"La categoría del propio documento; ley, sentencia, doctrina nota."}]},"options":{"systemPromptTemplate":"=Eres un experto en algoritmos de extracción.\nExtrae del texto sólo la información relevante.\nSi no conoces el valor de un atributo que se te pide extraer, puedes omitir el valor del atributo.\n\nDevuelve la información en formato texto normal, no utilices markdown ni nada extraño."}},"id":"baaec971-0da1-432f-9fc9-b8b2f73a30c7","name":"Extraer Metadata General","type":"@n8n/n8n-nodes-langchain.informationExtractor","position":[-464,-336],"typeVersion":1},{"parameters":{"method":"POST","url":"http://qdrant:6333/collections/rag_avanzado/points/delete","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"metadata.tipo\",\n        \"match\": { \"value\": \"{{ $json.message.content }}\" }\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-672,-336],"id":"8a9d50ab-e2ec-4ae2-a8d4-d708847af058","name":"Borrar Documento Existente","onError":"continueRegularOutput"},{"parameters":{"public":true,"initialMessages":"Hola! 👋\nChatea con tus documentos!","options":{"title":"RAG Definitivo"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-2336,1200],"id":"689a0ffe-7bd6-45bf-939a-dcf36000cfba","name":"When chat message received","webhookId":"89014b9e-6604-4f91-aff9-87754349188a"},{"parameters":{"options":{"systemMessage":"=Toma un rol de un experto en el ámbito jurídico, legal y del Derecho en Argentina. \n\nTu objetivo es responder a las consultas que te llegan del usuario. Para ello dispones de una herramienta llamada \"Conocimiento\" que tendrás que tendrás que usar siempre para responder a estas consultas.\n\nJamás respondas a dudas relacionadas con leyes, normativas, o cualquier cuestión del ámbito jurídico y del Derecho sin antes utilizar la herramienta \"Conocimiento\" y basarte en ella para generar la respuseta.\n\nUtiliza la herramienta \"Pensar\" para mejorar el análisis de las consultas y razonar mejor las acciones a realizar. También te sirve para mejorar tus respuestas.\n\nFecha y hora actual: {{ $now }}","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-2096,528],"id":"dd3a6a8c-535b-47f4-ab41-594eafd1eacc","name":"AI Agent"},{"parameters":{"mode":"retrieve-as-tool","toolName":"Conocimiento","toolDescription":"Utiliza esta herramienta para obtener el conocimiento necesario y responder a las consultas.","qdrantCollection":{"__rl":true,"value":"rag_avanzado","mode":"list","cachedResultName":"rag_avanzado"},"topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-1856,736],"id":"4f985b42-cc41-4633-bebc-cc753bff88ce","name":"Conocimiento","credentials":{"qdrantApi":{"id":"I7gJVJCOcOjpkfrQ","name":"QdrantApi account"}}},{"parameters":{"text":"={{ $json.chatInput }}","attributes":{"attributes":[{"name":"articulo","type":"number","description":"=Tu objetivo es analizar si el texto de la entrada contiene un número de artículo y solo en ese caso, si existe, devolverlo en la salida exclusivamente el número.\nEs importante que identifiques que realmente se trata del número del artículo y no de un número de cualquier otra cosa. Si no existe, no devuelvas nada.\n\nEjemplo:\n\nEntrada: \"Estoy buscando el artículo 7 del código penal.\"\n\nSalida: 7\n\n\nRecordatorio:\nRecuerda que la salida siempre debe ser un número entero haciendo referencia al número del artículo. Nunca devuelvas nada más que no sea eso.\n\nTienes que ser capaz de analizar y verificar que hay un número de artículo. Hay ocasiones que hablan de artículos en el texto pero no especifican el número, y aunque en el texto haya otros números, no tienen nada que ver con el artículo. En estos casos la salida es vacía.\n\n\nProhibiciones:\nNunca devuelvas una salida con la parte decimal, solo la parte entera. \n\nEjemplo de una MALA salida: 44.9\nEjemplo de una BUENA salida: 44\n\n"},{"name":"capitulo","type":"number","description":"Tu objetivo es analizar si el texto de la entrada contiene un número de capítulo y solo en ese caso, si existe, devolverlo en la salida exclusivamente el número.\nEs importante que identifiques que realmente se trata del número del capítulo y no de un número de cualquier otra cosa. Si no existe, no devuelvas nada.\n\nEjemplo:\n\nEntrada: \"Estoy buscando el capítulo 4 del código penal.\"\n\nSalida: 4\n\n\nRecordatorio:\nRecuerda que la salida siempre debe ser un número entero haciendo referencia al número del capítulo . Nunca devuelvas nada más que no sea eso.\n\nTienes que ser capaz de analizar y verificar que hay un número de capítulo . Hay ocasiones que hablan de capítulo en el texto pero no especifican el número, y aunque en el texto haya otros números, no tienen nada que ver con el capítulo. En estos casos la salida es vacía.\n\n\nProhibiciones:\nNunca devuelvas una salida con la parte decimal, solo la parte entera. \n\nEjemplo de una MALA salida: 44.9\nEjemplo de una BUENA salida: 44"}]},"options":{"systemPromptTemplate":"=Eres un experto jurídico, leyes, y ámbito del Derecho. Tienes un rol de análisis de documentos legales tipo leyes y normativas. Tu objetivo es analizar si el texto de la entrada contiene los atributos que te indico para mostrarlos en la salida.\n\n"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[-2112,1200],"id":"ea35a711-97e9-4d3a-8961-d1a40caaac9f","name":"Information Extractor"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0ba821d-654b-4e48-b834-22e1607d2611","leftValue":"={{ $json.content.parts[0].text }}","rightValue":"Decreto274-2019","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"8a084dea-323a-415f-8fd3-705d6d94cad5","leftValue":"={{ $json.content.parts[0].text }}","rightValue":"Ley24420","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"58f2bb7e-480c-4bd8-81e0-79764cdcbeb5","leftValue":"={{ $json.content.parts[0].text }}","rightValue":"Ley25065","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"d0dd8f91-e79f-4bb1-9b42-37a4b9056f14","leftValue":"={{ $json.content.parts[0].text }}","rightValue":"Resolucion12-2016","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"edf02c9d-694f-4d3f-8318-cd088714d41b","leftValue":"={{ $json.content.parts[0].text }}","rightValue":"Ley26682","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-928,-192],"id":"b4e74f57-39e5-4cb5-b265-97f59501185e","name":"If Documento es Valido"},{"parameters":{"jsCode":"function isEmpty(str) {\n  return !str || str.trim() === '';\n}\n\nconst tipo = $input.first().json.tipo?.toString() ?? '';\nconst capitulo = $input.first().json.capitulo?.toString() ?? '';\nconst articulo = $input.first().json.articulo?.toString() ?? '';\n\nlet must = [];\nif (!isEmpty(tipo)) {\n  must.push({ \"key\": \"metadata.tipo_documento\", \"match\": { \"value\": tipo } });\n}\n// Agrega solo capítulo/artículo si son realmente relevantes para el corpus/base.\n// Probá sólo con tipo, si querés mayor flexibilidad.\nif (!isEmpty(capitulo)) {\n  must.push({ \"key\": \"metadata.capitulo\", \"match\": { \"value\": capitulo } });\n}\nif (!isEmpty(articulo)) {\n  must.push({ \"key\": \"metadata.articulo\", \"match\": { \"value\": articulo } });\n}\n\nconst filter = must.length > 0 ? { must } : {};\n\nreturn [\n  {\n    json: { filter }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1536,1200],"id":"f96c99b2-5dc4-4bbd-8bc5-fa9da6eb6f2c","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"4d8bd9fa-60ce-4822-a333-3c09168999b4","name":"tipo","value":"=","type":"string"},{"id":"45ab7bd4-76df-4454-a80c-9b28c95f721f","name":"capitulo","value":"={{ $('Information Extractor').item.json.output.capitulo ?? '' }}","type":"string"},{"id":"fdd8b055-68b4-4d36-9c09-569a1d4c7eda","name":"articulo","value":"={{ $('Information Extractor').item.json.output.articulo ?? '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1744,1200],"id":"770bc0cc-f803-4af1-9bb3-81ccf33ac9d9","name":"Datos sin Tipo Documento"},{"parameters":{"mode":"load","qdrantCollection":{"__rl":true,"value":"rag_avanzado","mode":"list","cachedResultName":"rag_avanzado"},"prompt":"={{ $('When chat message received').item.json.chatInput }}","topK":10,"options":{"searchFilterJson":"={{ JSON.stringify($json.filter) }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-1296,1200],"id":"81646298-63aa-41dd-9a37-ba8fa7c37155","name":"Qdrant Vector Store1","credentials":{"qdrantApi":{"id":"I7gJVJCOcOjpkfrQ","name":"QdrantApi account"}}},{"parameters":{"promptType":"define","text":"=1. Consulta del usuario: {{ $('When chat message received').item.json.chatInput }}\n\n2. Contexto generla:\n{{ $json?.data?.[0]?.document?.metadata?.resumen_documento }}\n\n3. Información detallada para generar la respuseta: {{ JSON.stringify($json.data, null, 2) }}","messages":{"messageValues":[{"message":"=Toma un rol de un experto en el ámbito jurídico, legal y del Derecho en Argentina.\n\nTu objetivo consiste en dar respuesta a la consulta del usuario. Para ello, en la entrada tienes dos informaciones:\n\n1. Consulta del usuario: esta es la pregunta o consulta del usuario.\n\n2. Contexto general, de que trata el documento de donde sacate la información\n\n3. Información de donde obtener la respuesta: La información como tal vendrá en un array, generalmente no vacío y podrás consultarlo; aqui adentro tendrás el \"pageContent\"; que es la información verídica sobre la que te debes basar.\nAdemás tendrás otros tipos de datos como la metadata donde podrás citar el \"Capituolo\", \"Sección\" y \"Articulo\" de donde sacaste dicha información\n\nNUNCA te inventes nada si no tienes la \"Información de donde obtener la respuesta\". Esta es la única fuente de información. Si esto llega vacío, responde que no tienes información para responder, y pídele que aporte más detalle.\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-272,1072],"id":"a97faf53-d917-4183-852f-834b688ef427","name":"Basic LLM Chain"},{"parameters":{"chunkSize":1024,"chunkOverlap":256,"options":{"splitCode":"markdown"}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[608,224],"id":"51d7c9f2-d836-4302-ad7b-3e69b62d0ecb","name":"Recursive Character Text Splitter"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-pro","mode":"list","cachedResultName":"models/gemini-2.5-pro"},"messages":{"values":[{"content":"=Te voy a pasar el nombre de un documento y tu objetivo es dar una de las siguientes salidas con el formato que te describo.\n\nEl nombre del documento es el siguiente: {{ $('Get file').item.json.name }}\nDebes clasificar con una de las siguientes opciones que te describo a continuación, si los nombres hacen referencia a los siguientes archivos\n\n- Decreto274-2019\n- Ley24420\n- Ley25065\n- Resolucion12-2016\n- Ley26682\n\nTu salida siempre debe ser una de las opciones anteriores. Si no coincide, responde una salida vacía.\n\n\n"}]},"options":{"frequencyPenalty":0,"presencePenalty":0,"temperature":0}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-1264,-192],"id":"761480b5-c6a9-459f-b1f0-dfa7c90d62eb","name":"Message a model","credentials":{"googlePalmApi":{"id":"bHLYf02aHLDtdffz","name":"Credenciales Mamá"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[384,144],"id":"e0e51aa0-5168-45cd-a6df-6960f158e133","name":"Embeddings Google Gemini1","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## Generar Embeddings en Qdrant","height":832,"width":3680},"type":"n8n-nodes-base.stickyNote","position":[-2608,-416],"typeVersion":1,"id":"9a8eb753-19e4-44c4-939f-b2c4dcd564e8","name":"Sticky Note"},{"parameters":{"content":"## Consultar de forma fácil la db","height":544,"width":1040,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-2608,464],"typeVersion":1,"id":"fe742a0f-def7-4e7c-a43d-fa32fbb15bac","name":"Sticky Note1"},{"parameters":{"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-480,-176],"id":"87120f9e-62f6-41ff-840a-58a20076203b","name":"Gemini","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-1888,848],"id":"2fcb4049-f2f8-4431-8d7a-cf679acd697c","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2304,736],"id":"c05ffdba-c6aa-4466-9dcc-1c51b9c9b7a9","name":"Gemini1","credentials":{"googlePalmApi":{"id":"bHLYf02aHLDtdffz","name":"Credenciales Mamá"}}},{"parameters":{"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-272,1216],"id":"1bbade44-237b-4314-afb4-76502cecf36d","name":"Gemini2","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"48761f27-3fc8-441d-a312-0fa84c045a08","leftValue":"={{ $json.score }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-960,1200],"id":"4b79378a-9bd2-47f4-929c-fd5b620f42bb","name":"¿Tiene Score?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d1c34bc1-1e4e-4645-8f41-ccc5c10bbc66","leftValue":"={{ $json.score }}","rightValue":0.48,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-752,1088],"id":"83e8fcd1-620a-422e-9304-1ae76c37de63","name":"¿Es confiable?"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-480,1072],"id":"2d071796-0f1e-4520-9c0f-b0c3aa902fdb","name":"Juntar"},{"parameters":{"assignments":{"assignments":[{"id":"ebb0ad17-82b0-40f6-8608-8e9cea91d29b","name":"output","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,1072],"id":"7c5d0ce7-57b1-46f5-a618-281906fcf386","name":"Devolver"},{"parameters":{"options":{}},"id":"8596c90c-03c9-4d87-88b4-7968af69f542","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[-2048,-208],"typeVersion":3},{"parameters":{"resource":"fileFolder","filter":{"driveId":{"__rl":true,"mode":"list","value":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"https://drive.google.com/drive/folders/1ttGchCPAWh1wRR40WJHJDdWIrun_mQX5","mode":"url"}},"options":{}},"id":"5262c89d-c825-4783-85b8-b137b90d5390","name":"Get folder","type":"n8n-nodes-base.googleDrive","position":[-2240,-208],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"M9NFe7JaZql58gq7","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"df7815ea-6c12-4f07-bd03-6b7a2c203062","name":"Get file","type":"n8n-nodes-base.googleDrive","position":[-1776,-176],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"M9NFe7JaZql58gq7","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2480,-208],"id":"5cde440f-3eb0-47fe-96fc-1ffa4ea43deb","name":"When clicking ‘Execute workflow’"},{"parameters":{"description":"=Utiliza esta herramienta para razonar sobre las consultas que te llegan y así poder ser más preciso con tus acciones. También usa esta herramienta antes de dar respuesta para asegurarte que estás dando la respuesta correcta."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-1968,784],"id":"8a42fe83-e50e-4ab3-a485-f8038c07b278","name":"Pensar"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-2128,784],"id":"6770cdc2-3444-4175-bdb0-079ef75d6b08","name":"Simple Memory1"},{"parameters":{"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2112,1408],"id":"6b32d4ac-a631-4323-ae25-00a909234f9d","name":"Gemini4","credentials":{"googlePalmApi":{"id":"bHLYf02aHLDtdffz","name":"Credenciales Mamá"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-1296,1376],"id":"a81023a6-26c8-4484-adf0-d80cef2da19f","name":"Embeddings Google Gemini3","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"# RAG Bueno","height":560,"width":2848,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-2608,1056],"typeVersion":1,"id":"2c3401c4-1a16-4df7-bf15-adf8161360bc","name":"Sticky Note3"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-2176,-656],"id":"6d64763b-cb74-463e-9c43-37ef3bee8603","name":"n8n","credentials":{"n8nApi":{"id":"Exeyn251dCawQxm9","name":"n8n cuenta 3 - test"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"url","value":"https://github.com/FranprzDev","__regex":"https:\\/\\/(?:[^/]+)\\/([-_0-9a-zA-Z]+)"},"repository":{"__rl":true,"value":"n8n-workflows-course","mode":"list","cachedResultName":"n8n-workflows-course","cachedResultUrl":"https://github.com/FranprzDev/n8n-workflows-course"},"filePath":"={{ $json.tags[0].name }}/{{ ($json.name).split(' ').join('_') }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=Create at {{ new Date($now).toDateTime().toLocal('ES') }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[-1760,-656],"id":"24ebd6f0-24a4-4ef6-8df8-345ea6cf897a","name":"GitHub","webhookId":"6dd62fc1-8eec-420e-99a9-c831c208afb7","retryOnFail":false,"maxTries":2,"credentials":{"githubApi":{"id":"GIPbubj5HIPo8s3Q","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1488,-720],"id":"539e9fc4-842a-400d-b2c2-9518673550e4","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1488,-560],"id":"445e58d5-eb6a-4458-bdab-4778fa750f71","name":"No Operation, do nothing1"}],"connections":{"Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Qdrant Vector Store":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Dividir Texto en Articulos":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Extraer PDF":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Extraer Metadata General":{"main":[[{"node":"Dividir Texto en Articulos","type":"main","index":0}]]},"Borrar Documento Existente":{"main":[[{"node":"Extraer Metadata General","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Conocimiento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Information Extractor":{"main":[[{"node":"Datos sin Tipo Documento","type":"main","index":0}]]},"If Documento es Valido":{"main":[[{"node":"Borrar Documento Existente","type":"main","index":0}],[]]},"Datos sin Tipo Documento":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Qdrant Vector Store1","type":"main","index":0}]]},"Qdrant Vector Store1":{"main":[[{"node":"¿Tiene Score?","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Devolver","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Data Loader","type":"ai_textSplitter","index":0}]]},"Message a model":{"main":[[{"node":"If Documento es Valido","type":"main","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Gemini":{"ai_languageModel":[[{"node":"Extraer Metadata General","type":"ai_languageModel","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Conocimiento","type":"ai_embedding","index":0}]]},"Gemini1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Gemini2":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"¿Tiene Score?":{"main":[[{"node":"¿Es confiable?","type":"main","index":0}]]},"¿Es confiable?":{"main":[[{"node":"Juntar","type":"main","index":0}]]},"Juntar":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get file","type":"main","index":0}]]},"Get folder":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get file":{"main":[[{"node":"Extraer PDF","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get folder","type":"main","index":0}]]},"Pensar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Gemini4":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Embeddings Google Gemini3":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"n8n":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"33cd2fb6-925e-4bd4-8e63-85ef0ea344bd","triggerCount":0,"shared":[{"createdAt":"2025-10-28T05:22:05.909Z","updatedAt":"2025-10-28T05:22:05.909Z","role":"workflow:owner","workflowId":"QPcc5vkyuB5rYd9p","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-12T23:38:57.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1762521865899}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-12","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-13T00:56:03.165Z","updatedAt":"2025-11-13T00:56:03.165Z","id":"Yeb96maLrO8MxPS9","name":"Sesion_8"}]}