Sesion_4/Sesión_4
{"createdAt":"2025-10-07T14:00:31.796Z","updatedAt":"2025-11-13T00:45:43.000Z","id":"ocv0bsCEH1THeIjc","name":"Sesión 4","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-128,-416],"id":"781ddfbf-91ef-4564-b953-49d74545c81a","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[192,176],"id":"659c3b2c-ae6c-45a9-af57-5dc63650bed4","name":"Cerebro","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{"systemMessage":"=Te compartarás como un Juez de la República Argentina y específicamente de Tucumán; generalmente se te consultará por un caso específico y tendrás que rseponderme como lo haría un juez.\nTu respuesta debe ser todo en mayúsculas y en un tono formal."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[256,0],"id":"a98f9d3a-7d6a-4052-a63f-434254c2eda0","name":"Juez"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[32,0],"id":"9077f96d-52df-4ce2-8602-75bbaad18fd9","name":"Chat","webhookId":"2a72d515-7188-4ddf-86e8-3bffd7d50bad"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[144,-416],"id":"8e19e902-ae07-4769-8dc9-55b2ae78ae27","name":"n8n","credentials":{"n8nApi":{"id":"Exeyn251dCawQxm9","name":"n8n cuenta 3 - test"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"url","value":"https://github.com/FranprzDev","__regex":"https:\\/\\/(?:[^/]+)\\/([-_0-9a-zA-Z]+)"},"repository":{"__rl":true,"value":"n8n-workflows-course","mode":"list","cachedResultName":"n8n-workflows-course","cachedResultUrl":"https://github.com/FranprzDev/n8n-workflows-course"},"filePath":"={{ $json.tags[0].name }}/{{ ($json.name).split(' ').join('_') }}","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=Create at {{ new Date($now).toDateTime().toLocal('ES') }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[560,-416],"id":"efaf3578-e233-420c-8c10-146b34d4a815","name":"GitHub","webhookId":"6dd62fc1-8eec-420e-99a9-c831c208afb7","retryOnFail":false,"maxTries":2,"credentials":{"githubApi":{"id":"GIPbubj5HIPo8s3Q","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[832,-480],"id":"379515d2-18e0-4fd9-bc7b-85e7406d7d95","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[832,-320],"id":"3309bf56-c428-4fed-8146-c05b632e4b8d","name":"No Operation, do nothing1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Cerebro":{"ai_languageModel":[[{"node":"Juez","type":"ai_languageModel","index":0}]]},"Juez":{"main":[[]]},"Chat":{"main":[[{"node":"Juez","type":"main","index":0}]]},"n8n":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"10c65bee-99e5-4d3e-b886-9a832d1cd018","triggerCount":0,"shared":[{"createdAt":"2025-10-07T14:00:31.804Z","updatedAt":"2025-10-07T14:00:31.804Z","role":"workflow:owner","workflowId":"ocv0bsCEH1THeIjc","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-12T23:38:57.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1762521865899}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-12","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-13T00:45:21.768Z","updatedAt":"2025-11-13T00:45:21.768Z","id":"7nPcUVajVwLpmCgC","name":"Sesion_4"}]}