Sesion_4/Sistema_de_Alertas_Robusto
{"createdAt":"2025-10-07T06:29:14.972Z","updatedAt":"2025-11-13T00:46:04.000Z","id":"PwITu9xi8FXnFwOT","name":"Sistema de Alertas : Robusto","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"97e2679c-d5dd-4630-8154-607130a3f6d3","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"8b359a30-13fa-41f9-9c8b-b68cf5c82a73","name":"fechaRecordatorio","value":"={{ DateTime.fromISO($json['Fecha Audencia']).minus({days: 2}).toISODate() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,0],"id":"18ec0b13-bccd-4d1a-928d-7589dff78c8f","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f50433ff-d5c3-45e3-be36-5cf5bf845162","leftValue":"={{ $json.fechaRecordatorio }}","rightValue":"= {{ $now }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[736,0],"id":"eabf9f2c-21ae-444e-906e-b65322e859b8","name":"Filter"},{"parameters":{"documentId":{"__rl":true,"value":"18cwcopeH84kkMplXJLtiAEolxScPyVNKo9OR5SOXNmg","mode":"list","cachedResultName":"Audiencias Pendientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18cwcopeH84kkMplXJLtiAEolxScPyVNKo9OR5SOXNmg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18cwcopeH84kkMplXJLtiAEolxScPyVNKo9OR5SOXNmg/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Avisado","lookupValue":"No"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[224,0],"id":"ecd6a5c8-354c-457e-8f10-5cf47ec7de4e","name":"Obtener todos los datos","credentials":{"googleSheetsOAuth2Api":{"id":"a1I0CIu3KpmjrMyx","name":"Credencial - franciscoperezdeveloper@gmail.com"}}},{"parameters":{"sendTo":"={{ $('Obtener todos los datos').item.json['Email Letrado'] }}","subject":"=Audiencias con {{ $('Obtener todos los datos').item.json.Juez }}","message":"=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Notificación de Audiencia</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;\">\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n        <tr>\n            <td style=\"padding: 20px 0;\">\n                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"600\" style=\"border-collapse: collapse; background-color: #ffffff; border: 1px solid #dddddd; box-shadow: 0 4px 8px rgba(0,0,0,0.1);\">\n                    <tr>\n                        <td align=\"center\" style=\"background-color: #0D2440; padding: 20px 30px; color: #ffffff;\">\n                            <h1 style=\"margin: 0; font-size: 24px;\">Poder Judicial de Tucumán</h1>\n                            <p style=\"margin: 5px 0 0; font-size: 16px;\">Notificación de Audiencia</p>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 30px 40px; color: #333333;\">\n                            <p style=\"margin: 0 0 20px; font-size: 16px;\">\n                                Hola, buenos días <strong>{{ $('Obtener todos los datos').item.json['Letrado Responsable'] }}</strong>.\n                            </p>\n                            <p style=\"margin: 0 0 25px; line-height: 1.6;\">\n                                Se le notifica la siguiente audiencia correspondiente a los datos que se detallan a continuación:\n                            </p>\n                            <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-top: 2px solid #C5A56C; padding-top: 15px;\">\n                                <tr>\n                                    <td style=\"padding: 10px 0; font-weight: bold; width: 180px;\">N° de Expediente:</td>\n                                    <td style=\"padding: 10px 0;\">{{ $('Obtener todos los datos').item.json['Número Expediente'] }}</td>\n                                </tr>\n                                <tr>\n                                    <td style=\"padding: 10px 0; font-weight: bold;\">Fecha de Audiencia:</td>\n                                    <td style=\"padding: 10px 0;\">{{ $('Obtener todos los datos').item.json['Fecha Audencia'] }}</td>\n                                </tr>\n                                 <tr>\n                                    <td style=\"padding: 10px 0; font-weight: bold;\">Hora:</td>\n                                    <td style=\"padding: 10px 0;\">{{ $('Obtener todos los datos').item.json.Hora }}</td>\n                                </tr>\n                                <tr>\n                                    <td style=\"padding: 10px 0; font-weight: bold;\">Tipo de Audiencia:</td>\n                                    <td style=\"padding: 10px 0;\">{{ $('Obtener todos los datos').item.json['Tipo Audiencia'] }}</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"background-color: #f9f9f9; padding: 20px 40px; text-align: left;\">\n                            <p style=\"margin: 0; font-size: 14px; color: #555555;\">Queda usted debidamente notificado.</p>\n                            <p style=\"margin: 10px 0 0; font-size: 14px; color: #555555;\">\n                                Atentamente,<br>\n                                <strong>El Poder Judicial de Tucumán</strong>\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1504,-160],"id":"33b3ffe0-f7ae-43b1-b0d8-f8a337a254cc","name":"Enviar Mensjae","webhookId":"2415f20e-4bce-45ce-a8d7-e86957aa204b","credentials":{"gmailOAuth2":{"id":"5ocZ0hnv60JXCzBM","name":"Gmail account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"18cwcopeH84kkMplXJLtiAEolxScPyVNKo9OR5SOXNmg","mode":"list","cachedResultName":"Audiencias Pendientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18cwcopeH84kkMplXJLtiAEolxScPyVNKo9OR5SOXNmg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18cwcopeH84kkMplXJLtiAEolxScPyVNKo9OR5SOXNmg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Número Expediente":"={{ $('Obtener todos los datos').item.json['Número Expediente'] }}","Avisado":"Si"},"matchingColumns":["Número Expediente"],"schema":[{"id":"Número Expediente","displayName":"Número Expediente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Letrado","displayName":"Email Letrado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Letrado Responsable","displayName":"Letrado Responsable","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha Audencia","displayName":"Fecha Audencia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tipo Audiencia","displayName":"Tipo Audiencia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Juez","displayName":"Juez","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Avisado","displayName":"Avisado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2048,-16],"id":"19a3653b-d674-4592-a4bb-eb44770488cb","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"a1I0CIu3KpmjrMyx","name":"Credencial - franciscoperezdeveloper@gmail.com"}}},{"parameters":{"sendTo":"={{ $('Obtener todos los datos').item.json['Email Letrado'] }}","subject":"=¡URGENTE! Recordatorio de Audiencia con {{ $('Obtener todos los datos').item.json.Juez }}","message":"=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Notificación de Audiencia</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;\">\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n        <tr>\n            <td style=\"padding: 20px 0;\">\n                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"600\" style=\"border-collapse: collapse; background-color: #ffffff; border: 1px solid #dddddd; box-shadow: 0 4px 8px rgba(0,0,0,0.1);\">\n                    <tr>\n                        <td align=\"center\" style=\"background-color: #0D2440; padding: 20px 30px; color: #ffffff;\">\n                            <h1 style=\"margin: 0; font-size: 24px;\">Poder Judicial de Tucumán</h1>\n                            <p style=\"margin: 5px 0 0; font-size: 16px;\">Notificación de Audiencia</p>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 30px 40px; color: #333333;\">\n                            <p style=\"margin: 0 0 20px; font-size: 16px;\">\n                                Hola, buenos días <strong>{{ $('Obtener todos los datos').item.json['Letrado Responsable'] }}</strong>.\n                            </p>\n                            <p style=\"margin: 0 0 25px; line-height: 1.6;\">\n                                Se le notifica la siguiente audiencia correspondiente a los datos que se detallan a continuación:\n                            </p>\n                            <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-top: 2px solid #C5A56C; padding-top: 15px;\">\n                                <tr>\n                                    <td style=\"padding: 10px 0; font-weight: bold; width: 180px;\">N° de Expediente:</td>\n                                    <td style=\"padding: 10px 0;\">{{ $('Obtener todos los datos').item.json['Número Expediente'] }}</td>\n                                </tr>\n                                <tr>\n                                    <td style=\"padding: 10px 0; font-weight: bold;\">Fecha de Audiencia:</td>\n                                    <td style=\"padding: 10px 0;\">{{ $('Obtener todos los datos').item.json['Fecha Audencia'] }}</td>\n                                </tr>\n                                 <tr>\n                                    <td style=\"padding: 10px 0; font-weight: bold;\">Hora:</td>\n                                    <td style=\"padding: 10px 0;\">{{ $('Obtener todos los datos').item.json.Hora }}</td>\n                                </tr>\n                                <tr>\n                                    <td style=\"padding: 10px 0; font-weight: bold;\">Tipo de Audiencia:</td>\n                                    <td style=\"padding: 10px 0;\">{{ $('Obtener todos los datos').item.json['Tipo Audiencia'] }}</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"background-color: #f9f9f9; padding: 20px 40px; text-align: left;\">\n                            <p style=\"margin: 0; font-size: 14px; color: #555555;\">Queda usted debidamente notificado.</p>\n                            <p style=\"margin: 10px 0 0; font-size: 14px; color: #555555;\">\n                                Atentamente,<br>\n                                <strong>El Poder Judicial de Tucumán</strong>\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1504,96],"id":"c7b718aa-2b97-48aa-9327-b8de5bb7c8a8","name":"Enviar Mensjae Urgente","webhookId":"2415f20e-4bce-45ce-a8d7-e86957aa204b","credentials":{"gmailOAuth2":{"id":"5ocZ0hnv60JXCzBM","name":"Gmail account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1488,336],"id":"507b358e-8047-4d04-aa9a-f2a29c873876","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"912bce78-0fd9-4dd6-897f-125068bc0cbb","leftValue":"={{ $('Obtener todos los datos').item.json['Fecha Audencia'] }}","rightValue":"={{ $now.toISODate() }}","operator":{"type":"dateTime","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[960,0],"id":"e21a5c4e-4f5b-451e-955c-ae0db6e67028","name":"Día Distinto ?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1db1dd73-d558-44a7-8071-7d1239dbba7e","leftValue":"={{ $now }}","rightValue":"={{ DateTime.fromISO($('Obtener todos los datos').item.json['Fecha Audencia'] + 'T' + $('Obtener todos los datos').item.json.Hora).minus({ hours: 2 }) }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1168,128],"id":"ea2124a8-7c2f-44a3-9fa5-8c8c418f9684","name":"Estamos a 2 horas de la audiencia?"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[448,-496],"id":"f990b390-5a78-4228-9b5b-85a4cd65b964","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[672,-496],"id":"3eee28be-6186-4ccf-97da-da9dbd39ca3a","name":"n8n","credentials":{"n8nApi":{"id":"Exeyn251dCawQxm9","name":"n8n cuenta 3 - test"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"url","value":"https://github.com/FranprzDev","__regex":"https:\\/\\/(?:[^/]+)\\/([-_0-9a-zA-Z]+)"},"repository":{"__rl":true,"value":"n8n-workflows-course","mode":"list","cachedResultName":"n8n-workflows-course","cachedResultUrl":"https://github.com/FranprzDev/n8n-workflows-course"},"filePath":"={{ $json.tags[0].name }}/{{ ($json.name).split(' ').join('_') }}","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=Create at {{ new Date($now).toDateTime().toLocal('ES') }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[1088,-496],"id":"fc85d4e3-5b30-4d8b-8224-b166869842b9","name":"GitHub","webhookId":"6dd62fc1-8eec-420e-99a9-c831c208afb7","retryOnFail":false,"maxTries":2,"credentials":{"githubApi":{"id":"GIPbubj5HIPo8s3Q","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1360,-400],"id":"15deef7a-71a4-4313-94d5-cd28979da917","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1360,-560],"id":"63a2439a-050d-4386-ba7f-ff13896dddcf","name":"No Operation, do nothing2"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Obtener todos los datos","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Día Distinto ?","type":"main","index":0}]]},"Obtener todos los datos":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Enviar Mensjae":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Enviar Mensjae Urgente":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Día Distinto ?":{"main":[[{"node":"Enviar Mensjae","type":"main","index":0}],[{"node":"Estamos a 2 horas de la audiencia?","type":"main","index":0}]]},"Estamos a 2 horas de la audiencia?":{"main":[[{"node":"Enviar Mensjae Urgente","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"d0e7b8db-dc0c-46a7-9dde-fb0ae50ce694","triggerCount":0,"shared":[{"createdAt":"2025-10-07T06:29:14.979Z","updatedAt":"2025-10-07T06:29:14.979Z","role":"workflow:owner","workflowId":"PwITu9xi8FXnFwOT","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-12T23:38:57.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1762521865899}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-12","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-13T00:45:21.768Z","updatedAt":"2025-11-13T00:45:21.768Z","id":"7nPcUVajVwLpmCgC","name":"Sesion_4"}]}
