Sesion_5/Chat_con_una_Google_Sheet
{"createdAt":"2025-10-14T13:06:41.155Z","updatedAt":"2025-11-13T00:46:56.000Z","id":"5XTJHYg878taHQPJ","name":"Chat con una Google Sheet","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[0,0],"id":"c736a030-8175-4d0f-9113-0a7f68c5d0b8","name":"When chat message received","webhookId":"cb6334d5-2fd8-4a05-92ec-382a6274a327"},{"parameters":{"options":{"systemMessage":"=Eres un asistente especializados en administrar el listados de audiencias, tienes acceso a las siguientes herramientas\n1. Google sheets (en esta tiene acceso a ver toda la lista y sacar informacion)\n\nPrioriza siempre utilizar la tool antes que la memoria."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[208,0],"id":"813f67bc-5355-4ac4-ada2-a3b51f10cb07","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[80,208],"id":"7fb71657-de13-4d29-9637-ff872ac4d01c","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[272,224],"id":"f253c254-cb15-4310-b4de-7c26a8e83e73","name":"Simple Memory"},{"parameters":{"documentId":{"__rl":true,"value":"18cwcopeH84kkMplXJLtiAEolxScPyVNKo9OR5SOXNmg","mode":"list","cachedResultName":"Audiencias Pendientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18cwcopeH84kkMplXJLtiAEolxScPyVNKo9OR5SOXNmg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18cwcopeH84kkMplXJLtiAEolxScPyVNKo9OR5SOXNmg/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[464,208],"id":"c82f8890-a408-4a8a-80d2-9121fd7f9320","name":"Obtener Rows","credentials":{"googleSheetsOAuth2Api":{"id":"a1I0CIu3KpmjrMyx","name":"Credencial - franciscoperezdeveloper@gmail.com"}}},{"parameters":{"mode":"delete"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[256,400],"id":"a2a1613b-41e0-4f61-b051-94c4c4da63f5","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[272,544],"id":"abddd11e-9533-40f8-83e6-1a59b190277f","name":"Simple Memory1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[64,400],"id":"92b51c1d-95c7-487b-b31f-2ca75eb08030","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-128,-272],"id":"2c8f9324-55b1-42d7-831b-9abfff16cf7c","name":"n8n","credentials":{"n8nApi":{"id":"Exeyn251dCawQxm9","name":"n8n cuenta 3 - test"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"url","value":"https://github.com/FranprzDev","__regex":"https:\\/\\/(?:[^/]+)\\/([-_0-9a-zA-Z]+)"},"repository":{"__rl":true,"value":"n8n-workflows-course","mode":"list","cachedResultName":"n8n-workflows-course","cachedResultUrl":"https://github.com/FranprzDev/n8n-workflows-course"},"filePath":"={{ $json.tags[0].name }}/{{ ($json.name).split(' ').join('_') }}","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=Create at {{ new Date($now).toDateTime().toLocal('ES') }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[288,-272],"id":"a2585ad3-25bb-457f-95d2-36c5f4fa2b09","name":"GitHub","webhookId":"6dd62fc1-8eec-420e-99a9-c831c208afb7","retryOnFail":false,"maxTries":2,"credentials":{"githubApi":{"id":"GIPbubj5HIPo8s3Q","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[560,-336],"id":"1a236da4-4844-4bc5-ae68-0c6cc212ab03","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[560,-176],"id":"419c3311-4c56-45fd-add9-c2f2fdc28c7a","name":"No Operation, do nothing1"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Obtener Rows":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"n8n":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"43c2adbd-f751-48b9-ab7a-dad107f57084","triggerCount":0,"shared":[{"createdAt":"2025-10-14T13:06:41.163Z","updatedAt":"2025-10-14T13:06:41.163Z","role":"workflow:owner","workflowId":"5XTJHYg878taHQPJ","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-12T23:38:57.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1762521865899}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-12","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-13T00:46:38.768Z","updatedAt":"2025-11-13T00:46:38.768Z","id":"tl3JtY7ZaSmCKoUY","name":"Sesion_5"}]}