Sesion_10/goToHuman.json
{"createdAt":"2025-11-11T13:37:58.490Z","updatedAt":"2025-11-13T01:01:07.000Z","id":"XzU020NfZKw3ZTLp","name":"goToHuman","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## AI Email Assistant 🤖📧\n### Classifies, Drafts and Sends Human-Approved Reply\n\nThis shows an AI-based email assistant that reads each new incoming email, drafts a reply and sends it after human approval in gotoHuman.\n\n### ⚠️ How to set up\n[ ] In n8n, install the gotoHuman node **before** importing this template or some settings will be missing (Just add the node to a blank canvas before importing)\n\n[ ] Create gotoHuman account, copy API key\n\n[ ] In gotoHuman, select and create the pre-built review template **Email agent** or import the ID: `v81wzxwYoFYvWpmuIBgX`\n[ ] In the gotoHuman node, set up the credentials using your API key and select the review template \"Email Smart Reply\" from the list (This is the one you just imported)\n[ ] Connect Gmail and OpenAI account\n\n### Requirements\n- gotoHuman account for human supervision\n- OpenAI account for classification and email draft\n- Gmail for emails","height":720,"width":688},"id":"1065f166-ac86-4dc2-a4f6-89f6a9df5386","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-2192,80],"typeVersion":1},{"parameters":{"content":"gotoHuman - Retrying with AI\n![Pic](https://cdn.prod.website-files.com/6605a2979ff17b2cd1939cd4/689b5eb249cfe598f6ef0305_gth-chat.JPG)","height":352,"width":1072},"id":"28a566b5-d465-431b-ad68-85b117fdc3dd","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[-432,1856],"typeVersion":1},{"parameters":{"content":"gotoHuman - Reviewing\n![Pic](https://cdn.prod.website-files.com/6605a2979ff17b2cd1939cd4/689b5e250227be98ca4d11e2_gth-review.JPG)","height":816,"width":784},"id":"4335a4f5-2c17-44c5-ac0b-c7e89deaf13c","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-384,0],"typeVersion":1},{"parameters":{"content":"## Send approved Reply\nSend the approved response as a reply to the email thread","height":432,"width":560,"color":7},"id":"2cdf658f-cd91-4ed4-91c9-db8b81f58df4","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[576,832],"typeVersion":1},{"parameters":{"content":"## Human asked for Retry\nIn gotoHuman the reviewer clicked retry or edited the prompt to iterate on the LLM output.","height":336,"width":896,"color":7},"id":"aef34aea-bf9c-43bb-95ff-bceda0a073a1","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-320,1504],"typeVersion":1},{"parameters":{"content":"## Human Review\nAsk a human to review the received email and approve any AI-drafted response via gotoHuman.\nDrafts can be manually edited or retried in gotoHuman (Retries loop back to the AI email writer node).","height":624,"width":656,"color":7},"id":"44d3fd01-982d-4a7d-96c5-cb8be1e92f6f","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-320,848],"typeVersion":1},{"parameters":{"content":"## Draft Email Response\nIf it was determined that a reply is required, we ask AI to draft a response. It might incl. placeholders for a human to replace during review.","height":624,"width":720,"color":7},"id":"8da3bfc8-9cb3-4266-8d97-620f28734961","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-1152,848],"typeVersion":1},{"parameters":{"content":"## Classify Email\nWe ask AI to classify the received email into one of the categories defined in the prompt. It also determines whether a reply is needed and it is deemed important.","height":640,"width":848,"color":7},"id":"985b6043-92c7-47a0-9b38-5dc929cb91c0","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-2192,832],"typeVersion":1},{"parameters":{"content":"![Source example](https://cdn.prod.website-files.com/6605a2979ff17b2cd1939cd4/6877ff9cd93f480ff6eb4def_677c04b5cd6a77eb434526bf9c0eaaca_gotoHuman%20full%20logo.svg)","height":272,"color":7},"id":"b1b67ada-9c9f-44de-97f4-e783bb730852","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-240,976],"typeVersion":1},{"parameters":{"operation":"reply","messageId":"={{ $('New Email').item.json.id }}","emailType":"text","message":"={{ $json.responseValues.emailDraft.value }}","options":{"appendAttribution":false}},"id":"c7a7d5ae-d6be-45d7-b130-5958a506a5a9","name":"Reply to thread","type":"n8n-nodes-base.gmail","position":[784,1056],"webhookId":"f5644cf1-21dd-446e-91b1-06a6958cdc27","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"5ocZ0hnv60JXCzBM","name":"Gmail account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c25eb32d-e664-420c-8574-946f9e1c10cf","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.response }}","rightValue":"rejected"}]},"renameOutput":true,"outputKey":"Rejected"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a55f8641-84eb-4043-a573-9958b9606571","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.response }}","rightValue":"approved"}]},"renameOutput":true,"outputKey":"Approved"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"feaea8d7-d127-4a03-a87d-2269551ab775","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.type }}","rightValue":"chat"}]},"renameOutput":true,"outputKey":"Retry"}]},"options":{}},"id":"a14d8bdc-4bc4-4e1b-a425-8a9b2627c0ea","name":"Human response","type":"n8n-nodes-base.switch","position":[128,1040],"typeVersion":3.2},{"parameters":{"reviewTemplateID":{"__rl":true,"mode":"list"},"fields":{"value":{"email":"={{ $('New Email').item.json.textAsHtml }}","sender":"={{ $('New Email').item.json.from.text }}","emailDraft":"={{ $json.output?.textEmailDraft ? {ai: {prompt: $('Set Prompt').item.json.prompt}, content: $json.output?.textEmailDraft} : \"No reply needed - FYI only\" }}","classification":"={{ $('AI Classifier').item.json.output.classifiedAs }}"},"schema":[{"id":"sender","type":"string","display":true,"required":false,"displayName":"sender (textShort)","defaultMatch":false,"canBeUsedToMatch":true},{"id":"email","type":"string","display":true,"required":false,"displayName":"email (emailHtml)","defaultMatch":false,"canBeUsedToMatch":true},{"id":"classification","type":"string","display":true,"required":false,"displayName":"classification (textShort)","defaultMatch":false,"canBeUsedToMatch":true},{"id":"emailDraft","type":"string","display":true,"required":false,"displayName":"emailDraft (text)","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"additionalFields":{"updateForReviewId":"={{ $('Set (edited) prompt').isExecuted ? $('Set (edited) prompt').item.json.reviewToUpdate : null }}"}},"id":"ae8e8a72-75ab-4093-885b-e981d0c87d1f","name":"gotoHuman: Human review","type":"@gotohuman/n8n-nodes-gotohuman.gotoHuman","position":[-176,1056],"webhookId":"f445153e-594c-4e61-9f32-b6b4e87c1411","typeVersion":1,"credentials":{"gotoHumanApi":{"id":"XpaoixMCIaI3lDyC","name":"gotoHuman account"}}},{"parameters":{},"id":"f77b7d38-f83a-4c4d-802c-d2b5aa83ca2c","name":"Not important","type":"n8n-nodes-base.noOp","position":[-1312,1248],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"b5af0410-a10b-4b7c-a4e9-33f351a9c988","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.output.needsReply }}","rightValue":""}]},"renameOutput":true,"outputKey":"Needs reply"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"ace11ff1-0722-475a-ba61-706bc21f9e8f","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ !$json.output.needsReply && $json.output.important }}","rightValue":""}]},"renameOutput":true,"outputKey":"Needs no reply but important"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"d36d5ec4-90a8-4a70-bedd-4a3534dc0308","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ !$json.output.needsReply && !$json.output.important }}","rightValue":""}]},"renameOutput":true,"outputKey":"Don't bother"}]},"options":{}},"id":"1deee2e3-55af-436d-b629-97394b189357","name":"Needs Human Attention?","type":"n8n-nodes-base.switch","position":[-1552,1056],"typeVersion":3.2},{"parameters":{"jsonSchemaExample":"{\n\t\"classifiedAs\": \"support\",\n    \"needsReply\": true,\n    \"important\": false\n}"},"id":"f9df6954-2d88-4675-ac33-70bfec04924d","name":"Structured Output1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[-1712,1312],"typeVersion":1.3},{"parameters":{"jsonSchemaExample":"{\n\t\"textEmailDraft\": \"Hello Jack...\"\n}"},"id":"94a81f9f-2e5e-4a9b-bfac-c6969749b890","name":"Structured Output","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[-656,1152],"typeVersion":1.3},{"parameters":{"assignments":{"assignments":[{"id":"f10b4f0b-3756-48e9-a7f6-51299ad48427","name":"prompt","type":"string","value":"={{ $json.messages[0].content || $('Set Prompt').item.json.prompt }}"},{"id":"9a7c60fe-a782-4660-97fe-a7fc851cbb45","name":"reviewToUpdate","type":"string","value":"={{ $json.reviewId }}"}]},"options":{}},"id":"09547bd6-aa4f-41e0-bf6c-0b993b5f9d3c","name":"Set (edited) prompt","type":"n8n-nodes-base.set","position":[400,1568],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"d1b93765-fd43-4c01-aff9-f96170b77cd9","name":"prompt","type":"string","value":"You are a helpful email assistant. Please draft a reply to the email passed by the user. Match the writing style of the received email. If you cannot answer questions or draft a complete reply, incl. placeholders. A user will review your draft after this and can fill in more info. Incl. the body of the email only, we are responding within the thread."}]},"includeOtherFields":true,"options":{}},"id":"dcb87bc6-02c5-4e6f-baa0-f8b14a30f5fd","name":"Set Prompt","type":"n8n-nodes-base.set","position":[-1024,976],"typeVersion":3.4},{"parameters":{},"id":"38af27e2-f2f7-4273-b19c-6883f4564dd3","name":"No reply","type":"n8n-nodes-base.noOp","position":[400,880],"typeVersion":1},{"parameters":{"promptType":"define","text":"=From: {{ $('New Email').item.json.from.text }}\nTo: {{ $('New Email').item.json.to.text }}\nSubject: {{ $('New Email').item.json.subject }}\nBody:\n{{ $('New Email').item.json.text }}","hasOutputParser":true,"options":{"systemMessage":"={{ $json.prompt }}"}},"id":"340ca8a0-6efe-4b2d-bd27-e6859c2f98c3","name":"AI Email Writer","type":"@n8n/n8n-nodes-langchain.agent","position":[-816,976],"typeVersion":2.2},{"parameters":{"promptType":"define","text":"=From: {{ $json.from.text }}\nTo: {{ $json.to.text }}\nSubject: {{ $json.subject }}\nBody:\n{{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"You are a helpful email assistant analyzing the email passed by the user.\nPlease determine whether we need to reply and if you would flag it as important. Also classify the email into one of the following categories:\n- Customer Support\n- Partnership Inquiry\n- Sales opportunity\n- Transactional notification\n- Promotion\n- Spam\n- Personal"}},"id":"659a6605-b861-4abd-8433-f066c4d189d6","name":"AI Classifier","type":"@n8n/n8n-nodes-langchain.agent","position":[-1904,1072],"typeVersion":2.2},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"id":"6179f378-d3dd-4849-90e2-61cf7c8a623a","name":"New Email","type":"n8n-nodes-base.gmailTrigger","position":[-2112,1072],"typeVersion":1.2,"credentials":{"gmailOAuth2":{"id":"5ocZ0hnv60JXCzBM","name":"Gmail account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2048,1280],"id":"1fcc6aff-4dd3-4868-bfd3-a38f19e18ac1","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-960,1184],"id":"b573febd-1f39-4390-adf4-48872fac401d","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1472,-128],"id":"870f25e0-0a54-49a3-b011-e4b2a568a468","name":"n8n","credentials":{"n8nApi":{"id":"Exeyn251dCawQxm9","name":"n8n cuenta 3 - test"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"url","value":"https://github.com/FranprzDev","__regex":"https:\\/\\/(?:[^/]+)\\/([-_0-9a-zA-Z]+)"},"repository":{"__rl":true,"value":"n8n-workflows-course","mode":"list","cachedResultName":"n8n-workflows-course","cachedResultUrl":"https://github.com/FranprzDev/n8n-workflows-course"},"filePath":"={{ $json.tags[0].name }}/{{ ($json.name).split(' ').join('_') }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=Create at {{ new Date($now).toDateTime().toLocal('ES') }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[-1056,-128],"id":"ffd8b81f-b7b0-4439-b195-004e3aeb356b","name":"GitHub","webhookId":"6dd62fc1-8eec-420e-99a9-c831c208afb7","retryOnFail":false,"maxTries":2,"credentials":{"githubApi":{"id":"GIPbubj5HIPo8s3Q","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-784,-192],"id":"476800b9-4e55-46f4-8a1f-584b27b9a13b","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-784,-32],"id":"bb2882d9-f3d6-4c37-9da9-894e5caae689","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1696,-128],"id":"63a12a9c-f026-4b98-adcd-affa8ed608f4","name":"When clicking ‘Execute workflow’"}],"connections":{"Human response":{"main":[[{"node":"No reply","type":"main","index":0}],[{"node":"Reply to thread","type":"main","index":0}],[{"node":"Set (edited) prompt","type":"main","index":0}]]},"gotoHuman: Human review":{"main":[[{"node":"Human response","type":"main","index":0}]]},"Needs Human Attention?":{"main":[[{"node":"Set Prompt","type":"main","index":0}],[{"node":"gotoHuman: Human review","type":"main","index":0}],[{"node":"Not important","type":"main","index":0}]]},"Set (edited) prompt":{"main":[[{"node":"AI Email Writer","type":"main","index":0}]]},"Set Prompt":{"main":[[{"node":"AI Email Writer","type":"main","index":0}]]},"Structured Output":{"ai_outputParser":[[{"node":"AI Email Writer","type":"ai_outputParser","index":0}]]},"AI Email Writer":{"main":[[{"node":"gotoHuman: Human review","type":"main","index":0}]]},"Structured Output1":{"ai_outputParser":[[{"node":"AI Classifier","type":"ai_outputParser","index":0}]]},"AI Classifier":{"main":[[{"node":"Needs Human Attention?","type":"main","index":0}]]},"New Email":{"main":[[{"node":"AI Classifier","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Classifier","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Email Writer","type":"ai_languageModel","index":0}]]},"n8n":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"38dfcf3f-9d72-414c-8d16-689cc3524f57","triggerCount":0,"shared":[{"createdAt":"2025-11-11T13:37:58.500Z","updatedAt":"2025-11-11T13:37:58.500Z","role":"workflow:owner","workflowId":"XzU020NfZKw3ZTLp","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-12T23:38:57.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1762521865899}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-12","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-13T01:00:13.454Z","updatedAt":"2025-11-13T01:00:13.454Z","id":"S6lipuxJs8oVttoj","name":"Sesion_10"}]}