Sesion_10/Human_in_the_Loop.json
{"createdAt":"2025-11-12T23:39:57.759Z","updatedAt":"2025-11-13T01:00:26.000Z","id":"I5NeoESDhSHvve4M","name":"Human in the Loop","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Send approved Reply\nSend the approved response as a reply to the email thread","height":432,"width":560,"color":7},"id":"188b1d33-ae47-4cd3-9131-c6aa5e02afa1","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2768,80],"typeVersion":1},{"parameters":{"content":"## Human asked for Retry\nIn gotoHuman the reviewer clicked retry or edited the prompt to iterate on the LLM output.","height":336,"width":896,"color":7},"id":"791ed0e4-35d8-4778-99f5-0c5541240e00","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1872,752],"typeVersion":1},{"parameters":{"content":"## Human Review\nAsk a human to review the received email and approve any AI-drafted response via gotoHuman.\nDrafts can be manually edited or retried in gotoHuman (Retries loop back to the AI email writer node).","height":624,"width":656,"color":7},"id":"d2d117cf-792a-4530-bf37-acaa3c98962e","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1872,96],"typeVersion":1},{"parameters":{"content":"## Draft Email Response\nIf it was determined that a reply is required, we ask AI to draft a response. It might incl. placeholders for a human to replace during review.","height":624,"width":720,"color":7},"id":"91a3d041-fd3b-4756-b7db-6faedb2e061e","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1040,96],"typeVersion":1},{"parameters":{"content":"## Classify Email\nWe ask AI to classify the received email into one of the categories defined in the prompt. It also determines whether a reply is needed and it is deemed important.","height":640,"width":848,"color":7},"id":"fde250e2-8e12-422e-b282-f68904a7106a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,80],"typeVersion":1},{"parameters":{"content":"![Source example](https://cdn.prod.website-files.com/6605a2979ff17b2cd1939cd4/6877ff9cd93f480ff6eb4def_677c04b5cd6a77eb434526bf9c0eaaca_gotoHuman%20full%20logo.svg)","height":272,"color":7},"id":"326b12ea-3043-4181-aa12-2ee827960a83","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1952,224],"typeVersion":1},{"parameters":{"operation":"reply","messageId":"={{ $('New Email').item.json.id }}","emailType":"text","message":"={{ $json.responseValues.emailDraft.value }}","options":{"appendAttribution":false}},"id":"1060f8fe-cdc0-4bc9-8738-32c9847ce2e3","name":"Reply to thread","type":"n8n-nodes-base.gmail","position":[2976,304],"webhookId":"f5644cf1-21dd-446e-91b1-06a6958cdc27","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"5ocZ0hnv60JXCzBM","name":"Gmail account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c25eb32d-e664-420c-8574-946f9e1c10cf","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.response }}","rightValue":"rejected"}]},"renameOutput":true,"outputKey":"Rejected"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a55f8641-84eb-4043-a573-9958b9606571","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.response }}","rightValue":"approved"}]},"renameOutput":true,"outputKey":"Approved"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"feaea8d7-d127-4a03-a87d-2269551ab775","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.type }}","rightValue":"chat"}]},"renameOutput":true,"outputKey":"Retry"}]},"options":{}},"id":"6e9fee20-7356-4996-9e60-d9d97db3258f","name":"Human response","type":"n8n-nodes-base.switch","position":[2320,288],"typeVersion":3.2},{"parameters":{},"id":"530a7a56-f789-4edf-bbc6-ffc63ad6814d","name":"Not important","type":"n8n-nodes-base.noOp","position":[896,496],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"b5af0410-a10b-4b7c-a4e9-33f351a9c988","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.output.needsReply }}","rightValue":""}]},"renameOutput":true,"outputKey":"Needs reply"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"ace11ff1-0722-475a-ba61-706bc21f9e8f","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ !$json.output.needsReply && $json.output.important }}","rightValue":""}]},"renameOutput":true,"outputKey":"Needs no reply but important"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"d36d5ec4-90a8-4a70-bedd-4a3534dc0308","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ !$json.output.needsReply && !$json.output.important }}","rightValue":""}]},"renameOutput":true,"outputKey":"Don't bother"}]},"options":{}},"id":"45cd2ecf-c96a-4ec1-b8f1-a8e652b85e8b","name":"Needs Human Attention?","type":"n8n-nodes-base.switch","position":[640,304],"typeVersion":3.2},{"parameters":{"jsonSchemaExample":"{\n\t\"textEmailDraft\": \"Hello Jack...\"\n}"},"id":"511102c1-0086-4662-ad32-1feee1a5da62","name":"Structured Output","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1536,400],"typeVersion":1.3},{"parameters":{"assignments":{"assignments":[{"id":"f10b4f0b-3756-48e9-a7f6-51299ad48427","name":"prompt","type":"string","value":"={{ $json.messages[0].content || $('Set Prompt').item.json.prompt }}"},{"id":"9a7c60fe-a782-4660-97fe-a7fc851cbb45","name":"reviewToUpdate","type":"string","value":"={{ $json.reviewId }}"}]},"options":{}},"id":"8ea411a4-a89e-4d2e-879c-e1023a5dea18","name":"Set (edited) prompt","type":"n8n-nodes-base.set","position":[2592,816],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"d1b93765-fd43-4c01-aff9-f96170b77cd9","name":"prompt","type":"string","value":"You are a helpful email assistant. Please draft a reply to the email passed by the user. Match the writing style of the received email. If you cannot answer questions or draft a complete reply, incl. placeholders. A user will review your draft after this and can fill in more info. Incl. the body of the email only, we are responding within the thread."}]},"includeOtherFields":true,"options":{}},"id":"fe8b16e1-3d0d-46eb-814a-13e428505efd","name":"Set Prompt","type":"n8n-nodes-base.set","position":[1168,224],"typeVersion":3.4},{"parameters":{},"id":"e7ff7bcc-837c-48ed-9999-bd3163bc91da","name":"No reply","type":"n8n-nodes-base.noOp","position":[2592,128],"typeVersion":1},{"parameters":{"promptType":"define","text":"=From: {{ $('New Email').item.json.from.text }}\nTo: {{ $('New Email').item.json.to.text }}\nSubject: {{ $('New Email').item.json.subject }}\nBody:\n{{ $('New Email').item.json.text }}","hasOutputParser":true,"options":{"systemMessage":"={{ $json.prompt }}"}},"id":"2b2320c4-84b9-4368-bf84-9d40f7838099","name":"AI Email Writer","type":"@n8n/n8n-nodes-langchain.agent","position":[1376,224],"typeVersion":2.2},{"parameters":{"promptType":"define","text":"=From: {{ $json.from.text }}\nTo: {{ $json.to.text }}\nSubject: {{ $json.subject }}\nBody:\n{{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"=You are a helpful email assistant analyzing the email passed by the user.\nPlease determine whether we need to reply and if you would flag it as important. Also classify the email into one of the following categories:\n- Customer Support\n- Partnership Inquiry\n- Sales opportunity\n- Transactional notification\n- Promotion\n- Spam\n- Personal"}},"id":"d7fd83f0-fcd4-4dbb-8a68-e4a2a4743141","name":"AI Classifier","type":"@n8n/n8n-nodes-langchain.agent","position":[288,320],"typeVersion":2.2},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"id":"1ff3dc29-c1ca-475f-bf9d-5e7b70f65c03","name":"New Email","type":"n8n-nodes-base.gmailTrigger","position":[80,320],"typeVersion":1.2,"credentials":{"gmailOAuth2":{"id":"5ocZ0hnv60JXCzBM","name":"Gmail account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[144,528],"id":"d065d8b3-b5a6-4490-80be-d899daf82a67","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1232,432],"id":"e3b467b9-8a05-411e-92ee-92bef0842363","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"WjrbgZowcaHhf43A","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"reviewTemplateID":{"__rl":true,"value":"5VBC5UWNqQThp4l7KhOi","mode":"list","cachedResultName":"Email Smart Reply (5VBC5UWNqQThp4l7KhOi)"},"fields":{"mappingMode":"defineBelow","value":{"sender":"={{ $('New Email').item.json.from.text }}","email":"={{ $('New Email').item.json.textAsHtml }}","classification":"={{ $('AI Classifier').item.json.output.classifiedAs }}","emailDraft":"={{ $json.output?.textEmailDraft ? {ai: {prompt: $('Set Prompt').item.json.prompt}, content: $json.output?.textEmailDraft} : \"No reply needed - FYI only\" }}"},"matchingColumns":[],"schema":[{"type":"string","id":"sender","displayName":"sender (textShort)","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"type":"string","id":"email","displayName":"email (emailHtml)","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"type":"string","id":"classification","displayName":"classification (textShort)","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"type":"string","id":"emailDraft","displayName":"emailDraft (text)","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"additionalFields":{"updateForReviewId":"={{ $('Set (edited) prompt').isExecuted ? $('Set (edited) prompt').item.json.reviewToUpdate : null }}"}},"id":"d685eb19-dcd7-4164-96c9-41c796bf2de8","name":"gotoHuman: Human review1","type":"@gotohuman/n8n-nodes-gotohuman.gotoHuman","position":[2032,320],"webhookId":"f445153e-594c-4e61-9f32-b6b4e87c1411","typeVersion":1,"credentials":{"gotoHumanApi":{"id":"XpaoixMCIaI3lDyC","name":"gotoHuman account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"classifiedAs\": \"support\",\n    \"needsReply\": true,\n    \"important\": false\n}"},"id":"7ae966ee-8e0d-4cd7-8cb0-32e3f27ec94c","name":"Output","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[464,544],"typeVersion":1.3},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[320,-256],"id":"0502e4eb-7a4f-4e8e-905d-7266323f4a91","name":"n8n","credentials":{"n8nApi":{"id":"Exeyn251dCawQxm9","name":"n8n cuenta 3 - test"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"url","value":"https://github.com/FranprzDev","__regex":"https:\\/\\/(?:[^/]+)\\/([-_0-9a-zA-Z]+)"},"repository":{"__rl":true,"value":"n8n-workflows-course","mode":"list","cachedResultName":"n8n-workflows-course","cachedResultUrl":"https://github.com/FranprzDev/n8n-workflows-course"},"filePath":"={{ $json.tags[0].name }}/{{ ($json.name).split(' ').join('_') }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=Create at {{ new Date($now).toDateTime().toLocal('ES') }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[736,-256],"id":"66cfa71f-aead-425e-8176-6b1364f2c13d","name":"GitHub","webhookId":"6dd62fc1-8eec-420e-99a9-c831c208afb7","retryOnFail":false,"maxTries":2,"credentials":{"githubApi":{"id":"GIPbubj5HIPo8s3Q","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1008,-320],"id":"4dfe2371-0edb-44d3-93b0-70ce053b172d","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1008,-160],"id":"205f29cc-9d39-43b0-811f-4c3ff545663e","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[96,-256],"id":"c0a6cb69-b298-4849-ac12-5a47a8335295","name":"When clicking ‘Execute workflow’"}],"connections":{"Human response":{"main":[[{"node":"No reply","type":"main","index":0}],[{"node":"Reply to thread","type":"main","index":0}],[{"node":"Set (edited) prompt","type":"main","index":0}]]},"Needs Human Attention?":{"main":[[{"node":"Set Prompt","type":"main","index":0}],[],[{"node":"Not important","type":"main","index":0}]]},"Structured Output":{"ai_outputParser":[[{"node":"AI Email Writer","type":"ai_outputParser","index":0}]]},"Set (edited) prompt":{"main":[[{"node":"AI Email Writer","type":"main","index":0}]]},"Set Prompt":{"main":[[{"node":"AI Email Writer","type":"main","index":0}]]},"AI Email Writer":{"main":[[{"node":"gotoHuman: Human review1","type":"main","index":0}]]},"AI Classifier":{"main":[[{"node":"Needs Human Attention?","type":"main","index":0}]]},"New Email":{"main":[[{"node":"AI Classifier","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Classifier","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Email Writer","type":"ai_languageModel","index":0}]]},"gotoHuman: Human review1":{"main":[[{"node":"Human response","type":"main","index":0}]]},"Output":{"ai_outputParser":[[{"node":"AI Classifier","type":"ai_outputParser","index":0}]]},"n8n":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"18e408d9-a934-41c7-a9e5-162e87d70aef","triggerCount":0,"shared":[{"createdAt":"2025-11-12T23:39:57.774Z","updatedAt":"2025-11-12T23:39:57.774Z","role":"workflow:owner","workflowId":"I5NeoESDhSHvve4M","projectId":"4yekGauuM4SY2vfD","project":{"createdAt":"2025-09-30T14:31:55.415Z","updatedAt":"2025-09-30T14:37:16.353Z","id":"4yekGauuM4SY2vfD","name":"Francisco Miguel Perez <franutn23@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-30T14:31:55.416Z","updatedAt":"2025-09-30T14:31:55.416Z","userId":"64f556f4-cdff-4207-b344-6605a68ebb36","projectId":"4yekGauuM4SY2vfD","user":{"createdAt":"2025-09-30T14:31:54.185Z","updatedAt":"2025-11-12T23:38:57.000Z","id":"64f556f4-cdff-4207-b344-6605a68ebb36","email":"franutn23@gmail.com","firstName":"Francisco Miguel","lastName":"Perez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:37:30.841Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nMrEtYor4MjLpVxZ","userActivatedAt":1761639691020,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1762521865899}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-12","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-13T01:00:13.454Z","updatedAt":"2025-11-13T01:00:13.454Z","id":"S6lipuxJs8oVttoj","name":"Sesion_10"}]}